
.main-heading {
    display: inline-block;
    font-size: 6rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: transparent;
    background-image: linear-gradient(to right, var(--clr-primary), var(--clr-secondary));
    background-clip: text;
    -webkit-background-clip: text;
}


  
.secondary-text {
    color: var(--clr-secondary);
  }
  

.hop {
    transform: translateY(-4px) scale(.8);
}




// =====================================================================================
//                  buttons
// =====================================================================
.btn-main {
    display: inline-block;
    color: #fff;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.404);
    z-index: 1;
    background-color: var(--clr-secondary);
    border-radius: 2px;
    transition: .4s ease-out;
    box-shadow: 0 .5rem .5rem rgba(#000, .5);
    // margin: 1rem 0;

    &:focus,
    &:hover {
      color: #fff;
      border: 2px solid #fff;
      transform: scale(1.1);
      box-shadow: 0 .6rem 1.5rem rgba(#000, .4);
      z-index: 2;
    }

    &:active {
      box-shadow: 0 .5rem .5rem rgba(#000, .6);
      transform: scale(.9);
    }        

}
.btn-secondary {
    display: inline-block;
    color: #fff;
    background-color: var(--clr-primary);
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.582);
    z-index: 1;
    border-radius: 2px;
    transition: .4s ease-out;
    box-shadow: 0 .5rem .5rem rgba(#000, .5);


    &:hover,
    &:focus {
      background-color: var(--clr-primary);
      transform: scale(1.1);
      box-shadow: 0 .6rem 1.5rem rgba(#000, .3);
      z-index: 2;
      border: 2px solid #fff;
    }

    &:active {
      box-shadow: 0 .5rem .5rem rgba(#000, .6);
      transform: scale(.9);
    }
  }

// =====================================================================================
//                animations
// =====================================================================
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scroll-me {
    0%{
        
    }
    50%{
        top: 70%;
    }
   
    100%{
        top: 10%;
    }
}





// =====================================================================================
//                  media- Queries 
// =====================================================================
@mixin mediaSm {
    @media screen and (max-width: 542px) {
        @content;
    }
}
@mixin mediaMd {
    @media screen and (min-width: 543px) and (max-width: 768px) {
        @content;
    }
}
@mixin mediaLg {
    @media screen and (min-width: 769px) {
        @content;
    }
}
@mixin mediaXl {
    @media screen and (min-width: 1200px) {
        @content;
    }
}