$color-primary: #00C6C2;
$color-secondary: #1a1a1d;
$color-neutral: #D8EBF4;
  
.main-heading {
    font-size: 10rem;
    font-weight: 900;
    margin-bottom: 3rem;
    position: relative;
    color: rgba(#bdcbd1, .9);
}


  
.secondary-text {
    color: $color-secondary;
  }
  
@keyframes clickme {
    
    0% {
        -webkit-transform: translateY(-1rem);
                transform: translateY(-1rem);
    }
    50% {
        -webkit-transform: translateY(1rem);
                transform: translateY(1rem);
    }
    100% {
        -webkit-transform: translateY(-1rem);
                transform: translateY(-1rem);
    }
}


// === media- Queries ===
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}
@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin mediaLg {
    @media screen and (min-width: 769px) {
        @content;
    }
}
@mixin mediaXl {
    @media screen and (min-width: 1500px) {
        @content;
    }
}