// Large screens
@include mediaXl {

  html {
    font-size: 100%;
  }
}

// === Desktop ===
@include mediaLg {

  body {
    font-size: 2rem;
  }


// ======= nav-btn =======
  nav {
    background-color: var(--secondary);


    .nav-btn {
      display: none;
    }

    .nav-list {
      display: flex;

      .nav-item {

        .nav-link {
          padding: 1rem 2rem;
          color: var(--primary);
          transition: .3s;
          text-transform: uppercase;
          font-weight: 600;

          &:hover,&.current {
            background-color: var(--primary);
            color: var(--secondary);
          }

          
        }
      }
    }

  }

  //===== section-home ======
  .section-home {
    display: grid;
    align-items: center;
    padding-left: 10rem;

    .home-text {
      text-align: left;

      .btn-1 {
        margin-right: 1rem;
      }
        
      }
    }


  //  ====== section-about ======
    .section-about {

      .about-content {
        display: flex;
        flex-direction: row-reverse;
       
        .about-text {
        

          p {
            display: inline-block;

          }
        }
        .about-image {
      
        }
      }
    }


// ============ section-portfolio ==============
.section-portfolio {
  font-size: 1.5rem;;
}

.section-case {

  .case-container {

    .img-content {
      width: 100%;
      display: flex;

      img {
        width: 50%;
      }
    }
  }
}



 // ======= section-testimonial ===========
 .section-testimonial {

  .slider-btn {

    .prev,
    .next {
      width: 7rem;
      height: 7rem;
      font-size: 1.6rem;
    }
  }
 }

//  ====== section-contact ========
 .section-contact {

  .contact-container {

    .contact-list {
      text-align: center;

      .contact-item {
        display: block;
      }
    }
 }
}
}
  

// ========== TABLETS======== ===
@include mediaMd {

  .main-heading {
    font-size: 6rem;
    font-weight: 900;
}

    nav {
      position: fixed;
      top: 0;
      left: 0;

      .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: #000;
        transition: .4s ease-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translate3d(100%, 0, 0);
        z-index: 8;
  
        &.show {
            transform: translate3d(0%, 0, 0);
        }

        .nav-item {
            text-align: center;
          }

        .nav-link {
            display: inline-block;
            padding: 1rem 2rem;
            text-transform: uppercase;
            font-size: 4rem;
            text-align: center;
            color: #fff;
            background-image: linear-gradient(105deg, transparent 0%, transparent 50%, #fff 50%);
            background-size: 215%;
            -webkit-transition: .4s ease-out;
            transition: .4s ease-out;
            margin-bottom: .3rem;
            border-radius: 3px;


            &:hover,
            &.current {
                background-position: 100%;
                color: #000;
                transform: translateX(10px);
            }
          }
      }

    }

    .section-home {
      display: grid;
      align-items: center;
      justify-content: center;
       
        .btn-1 {
          margin-right: 1rem;
        }
            
        }
    

    .section-contact {

      .contact-container {
        grid-template-columns: 1fr;
        // grid-template-rows: 1fr 2fr;
        padding: 2rem;

        background-image: linear-gradient(-20deg, $color-secondary 0%, $color-secondary 60%, rgba(#636363, .8) 60%), url(images/imagee.jpg);
        background-position: top;
        text-align: center;
      }

      .contact-list {
        grid-row-start: 1;
      }
    
}

}

@include mediaSm {
  .main-heading {
    font-size: 4rem;
    font-weight: 900;
}

.section-home {

  .home-text {
    text-align: center;

    .btn-1 {
    }
    .btn-2 {

    }
  }
}
}



@media screen and (max-width: 424px) {

  .section-home {

    .home-text {
      text-align: center;
  
      .btn-1 {
        margin-bottom: 1rem;
      }
    }
  }
}