

// === Desktop ===
@include mediaLg {

  body {
    font-size: 2rem;
  }



  nav {
    background-color: var(--secondary);


    .nav-btn {
      display: none;
    }

    .nav-list {
      display: flex;

      .nav-item {

        .nav-link {
          padding: 1rem 2rem;
          color: var(--primary);
          transition: .3s;
          text-transform: uppercase;
          font-weight: 600;

          &:hover,&.current {
            background-color: var(--primary);
            color: var(--secondary);
          }

          
        }
      }
    }

  }

  .section-home {

    .home-text {
    }

    .home-text {
      text-align: left;
    }
  }

  //  ====== sectioon- about
    .section-about {

      .about-content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
       
        .about-text {
          grid-column: 1/2;
          grid-row: 1/2;

          p {
            display: inline-block;

          }
        }
        .about-image {
          grid-column: 2/3;
          grid-row: 1/3;
        }
      }
    }
}


// ====== testimonials ==========
.section-testimonial {
  .testimony {
    // width: 
  }
}

  

// === tablets ===
@include mediaMd {

  .main-heading {
    font-size: 6rem;
    font-weight: 900;
}

    nav {
      position: fixed;
      top: 0;
      left: 0;

      .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: #000;
        transition: .4s ease-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translate3d(100%, 0, 0);
        z-index: 8;
  
        &.show {
            transform: translate3d(0%, 0, 0);
        }

        .nav-item {
            text-align: center;
          }

        .nav-link {
            display: inline-block;
            padding: 1rem 2rem;
            text-transform: uppercase;
            font-size: 4rem;
            text-align: center;
            color: #fff;
            background-image: linear-gradient(105deg, transparent 0%, transparent 50%, #fff 50%);
            background-size: 215%;
            -webkit-transition: .4s ease-out;
            transition: .4s ease-out;
            margin-bottom: .3rem;
            border-radius: 3px;


            &:hover,
            &.current {
                background-position: 100%;
                color: #000;
                transform: translateX(10px);
            }
          }
      }

    }

    .section-home {
      display: grid;
      align-items: center;
      justify-content: center;
    }
    
}

@include mediaSm {
  .main-heading {
    font-size: 4rem;
    font-weight: 900;
}
}