@import "config";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.nav-scrolled {
  --primary: #1a1a1d;
  --secondary: #fff;
  box-shadow: 0 1rem 1rem rgba(#000, .3);
}

nav {
  --primary: #D8EBF4;
  --secondary: #1a1a1d;


  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  padding: 0 3rem;
  justify-content: space-between;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--secondary);
  transition: .4s;

  .logo {
    color: var(--primary);
    text-transform: uppercase;
    font-size: 1.8rem;
  }


  .nav-btn {
    cursor: pointer;
    transition: .4s ease-out;
    z-index: 10;
    position: fixed;
    right: 3rem;
    top: 2rem;

    &:hover .lines,
    &:focus .lines {
      background-color: var(--primary);
    }

    .lines {
        width: 3.5rem;
        height: .2rem;
        margin-bottom: .7rem;
        transition: .4s ease-out;
        background-color: var(--primary);
      }

      &.close {
          transform: rotate(-180deg);

        .lines {
            background-color: $color-neutral;

            &:nth-child(1) {
                width: 1.5rem;
              }
            &:nth-child(2) {
                width: 2.5rem;
              }
            &:nth-child(3) {
                width: 3.5rem;
              }
          }
      }
  }

}


.container {
  padding: 0 5rem;
}

//   ==== section-home ======
.section-home {
  height: calc(100vh - 2rem);
  background-color: $color-secondary;

  .home-text {
    margin-top: 15rem;


    span {
      display: inline-block;
      font-size: 5rem;
      color: $color-neutral;

      &:hover {
        color: lightseagreen;
      }
    }

    .name {
      color: $color-primary;
    }

      p {
        display: inline-block;
        font-size: 1.8rem;
        margin-bottom: 3rem;
        color: #7a7a7a;
        display: block;
      }

      .btn-2 {
        display: inline-block;
        color: $color-primary;
        padding: 1.5rem 3rem;
        font-size: 1.6rem;
        font-weight: 400;
        position: relative;
        z-index: 1;
        border: 1px solid $color-primary;
        position: relative;
        z-index: 1;
        overflow: hidden;

        &:hover,
        &:focus {
          color: $color-secondary;
        }

        &:hover::after,
        &:focus::after {
          top: 0;
        }

        &:after {
          content: "";
          width: 100%;
          height: 100%;
          background-color: $color-primary;
          position: absolute;
          top: 100%;
          left: 0;
          transition: .4s;
          z-index: -1;
        }
      }
      .btn-1 {
        display: inline-block;
        color: $color-secondary;
        padding: 1.5rem 3rem;
        font-size: 1.6rem;
        font-weight: 400;
        position: relative;
        z-index: 1;
        border: 1px solid transparent;
        position: relative;
        z-index: 1;
        overflow: hidden;
        background-color: $color-primary;
        margin-right: 2rem;

        &:focus,
        &:hover {
          color: $color-primary;
          border: 1px solid $color-primary;
        }

        &:hover::after,
        &:focus::after {
          top: 00%;
        }

        &:after {
          content: "";
          width: 100%;
          height: 100%;
          background-color: $color-secondary;
          position: absolute;
          top: 100%;
          left: 0;
          transition: .4s;
          z-index: -1;
      }
    
    }
  }
}



// === Section-about =========
.section-about {
    padding-top: 10rem;
    font-size: 1.6rem;
    margin: 0 auto;

    .about-content {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr;

      .about-image {
        width: 100%;
        height: 100%;
        
        display: grid;
        align-items: center;
        justify-items: center;

        img {
          // max-height: 500px;
          max-width: 500px;
          width: 100%;
          clip-path: circle(50% at 50% 50%);
        }
      }

      .image-text {
        width: 100%;
      }

    }

}




// ==== section-portfolio ====
.section-portfolio {
  padding: 10rem 5rem 0 ;
  height: 100vh;

  .main-heading {
    text-align: right;
  }
}


// ======= Section-testimonials ========
.section-testimonial {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(#747272, .6), rgba(#000, .6)), url(images/testimonial-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
   

  .testimonials {
    width: 100%;
    height: 100%;

    .testimony-container {
      width: 100%;
      height: 400px;
      position: relative;
    }

    .testimony {
      width: 80%;
      max-width: 600px;
      margin: auto;
      padding: 2rem;
      box-shadow: .5rem 1rem 1rem rgba(#000, .3);
      border-radius: 3px;
      background-color: rgba(#fff, .3);
      margin-bottom: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &:hover > figure img,
      &:focus > figure img{
        filter: blur(1px) brightness(70%);
        height: 100%;
      }

      &:hover > figure figcaption ,
      &:focus > figure figcaption {
        top: 50%
      }

      figure {
        width: 10rem;
        height: 10rem;
        overflow: hidden;
        clip-path: circle(50% at 50% 50%);
        float: left;
        shape-outside: circle(50% at 50% 50%);
        margin-right: 2rem;
        position: relative;


        img {
          height: 130%;
          z-index: -1;
          transition: .4s;
        }

        figcaption {
          color: #fff;
          font-size: 1.5rem;
          text-transform: uppercase;
          position: absolute;
          top: -10%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          transition: .4s;
        }
      }

      .testimonial-text {
        // background-color: red;
        font-size: 1.4rem;
        
      }
    }
  }

  &:hover .slider-btn span{
    opacity: 1;
  }

  .slider-btn {

    .prev,
    .next {
      background-color: $color-secondary;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .next {
      right: 3rem;
    }
    .prev {
      left: 3rem;
    }

    span {
      color: $color-neutral;
      position: absolute;
      top: 50%;
      opacity: 0;
      transition: .4s;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    // padding: 5rem;

    & .slick-active button {
      transform: scale(1.5);
      box-shadow: 0rem 1rem 1rem rgba(#000, .9);
    }

    li {
      margin: 0 .7rem;

      button {
        width: 1rem;
        height: 1rem;
        border: none;
        outline: none;
        display: block;
        border-radius: 50%;
        text-indent: -9999px;
        background-color: #fff;
      }
    }
  }
}



// === Section-Cpntact=== 
.section-contact {
  width: 80%;
  margin: 0 auto;
  padding: 10rem 5rem 0;
  text-align: center;
  grid-column-start: 2;

  p {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .contact-p {
    margin-bottom: 5rem;
  }

  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    margin-bottom: 2rem;

    .contact-list {
        width: 100%;
        margin: auto;
        margin-bottom: 5rem;

        .contact-item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            margin-bottom: 2rem;
            align-content: center;

            p {
                word-wrap: break-word;
                color: $color-neutral;
              }

            i {
            font-size: 3rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            }
              
          }
      }


      form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 1rem;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;

        input[type="text"],input[type="email"],
        textarea {
          width: 70%;
          max-width: 500px;
          font-family: inherit;
          margin-bottom: 1rem;
          padding: 1rem 2rem;
          background-color: #0000009c;
          border: none;
          border-radius: 5px;
          font-size: 1.4rem;
          outline: none;
          transition: .4s;
          border: 1px solid darkgray;
          resize: none;

          &:focus, &:valid {
            width: 100%;
            border: 1px solid $color-primary;
          }

        
        }

        input[type="submit"] {
            background-color: $color-primary;
            border: none;
            padding: 1rem 2rem;
            border-radius: 3px;
            border: 1px solid transparent;
            width: 60%;
            transition: .4s;

            &:hover,
            &:focus {
                background-color: transparent;
                color: #000;
                border: 1px solid $color-primary;
                width: 100%;
              }
          }

      }
  }

  .social-list {
    display: flex;
    justify-content: center;
    margin: 5rem 0;

    .social-item {

      &:nth-child(1) .social-link::after {
        background-color: #3b5999;
      }
      &:nth-child(2) .social-link::after {
        background-color: #c32aa3;
      }
      &:nth-child(3) .social-link::after {
        background-color: #0077b5;
      }
    }

    .social-link {
        display: flex;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        border: 1px solid $color-neutral;
        color: $color-secondary;
        margin-right: 1rem;
        font-size: 1.4rem;
        outline: none;
        position: relative;
        z-index: 1;
        overflow: hidden;

        &:hover,
        &:focus  {
            color: #fff;
            border: 1px solid #fff;
          }

        &:hover::after,
        &:focus::after {
          top: 0;
        }

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          display: inline-block;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: -1;
          transition: .4s;
          border-radius: 10px;
        }
      }
  }

}


footer {
  width: 100%;
  height: 2rem;
  color: #000000;
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: auto;
  font-size: 1.3rem;
}

@import "responsive";