@import "config";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
}

body {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #000;
  padding: 1.5rem;
  font-size: 1.4rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// ====== logo ======
.logo {
  font-weight: 600;
  font-size: 1.8rem;
}

.nav-scrolled {
  --primary: #1a1a1d;
  --secondary: #fff;
  box-shadow: 0 1rem 1rem rgba(#000, .3);
}

nav {
  --primary: #D8EBF4;
  --secondary: #1a1a1d;


  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  padding: 0 3rem;
  justify-content: space-between;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--secondary);
  transition: .4s;

  .logo {
    color: var(--primary);
  }


  .nav-btn {
    cursor: pointer;
    transition: .4s ease-out;
    z-index: 10;
    position: fixed;
    right: 3rem;
    top: 2rem;

    &:hover .lines,
    &:focus .lines {
      background-color: var(--primary);
    }

    .lines {
        width: 3.5rem;
        height: .2rem;
        margin-bottom: .7rem;
        transition: .4s ease-out;
        background-color: var(--primary);
      }

      &.close {
          transform: rotate(-180deg);

        .lines {
            background-color: $color-neutral;

            &:nth-child(1) {
                width: 1.5rem;
              }
            &:nth-child(2) {
                width: 2.5rem;
              }
            &:nth-child(3) {
                width: 3.5rem;
              }
          }
      }
  }

}


.container {
  padding: 0 5rem;
}

//   ==== section-home ======
.section-home {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(#141416, .9), rgba(#14141a, .9)), url(images/testimonial-bg.jpg);
  background-size: cover;
  background-position: center;

  .home-text {
    margin-top: 15rem;

    .m-left {
      transition: .2s;
    }

    span {
      display: inline-block;
      font-size: 5rem;
      color: $color-neutral;
      cursor: default;

      &:hover {
        color: lightseagreen;
      }
    }

    .name {
      color: $color-primary;
      animation: inLeft .4s ease forwards 1s;
    }

      p {
        display: inline-block;
        font-size: 1.8rem;
        margin-bottom: 3rem;
        color: #7a7a7a;
        display: block;
      }

      .btn-2 {
        display: inline-block;
        color: $color-primary;
        padding: 1.5rem 3rem;
        font-size: 1.6rem;
        font-weight: 400;
        position: relative;
        z-index: 1;
        border: 1px solid $color-primary;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 2px;
        animation-name: fadeIn;
        animation-delay: 2s;
        animation-duration: .5s;
        opacity: 0;
        animation-fill-mode: forwards;

        &:hover,
        &:focus {
          color: $color-secondary;
        }

        &:hover::after,
        &:focus::after {
          top: 0;
        }

        &:after {
          content: "";
          width: 100%;
          height: 100%;
          background-color: $color-primary;
          position: absolute;
          top: 100%;
          left: 0;
          transition: .4s;
          z-index: -1;
        }
      }
      .btn-1 {
        display: inline-block;
        color: $color-secondary;
        padding: 1.5rem 3rem;
        font-size: 1.6rem;
        font-weight: 400;
        position: relative;
        z-index: 1;
        border: 1px solid transparent;
        position: relative;
        z-index: 1;
        overflow: hidden;
        background-color: $color-primary;
        border-radius: 2px;
        animation-name: fadeIn;
        animation-delay: 2s;
        animation-duration: 2s;
        opacity: 0;
        animation-fill-mode: forwards;

        &:focus,
        &:hover {
          color: $color-primary;
          border: 1px solid $color-primary;
        }

        &:hover::after,
        &:focus::after {
          top: 00%;
        }

        &:after {
          content: "";
          width: 100%;
          height: 100%;
          background-color: $color-secondary;
          position: absolute;
          top: 100%;
          left: 0;
          transition: .4s;
          z-index: -1;
      }
    
    }
  }
}



// === Section-about =========
.section-about {
    padding-top: 8rem;
    font-size: 1.6rem;
    margin: 0 auto;

    .about-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .about-image {
        width: 100%;
        height: 400px;
        overflow: hidden;
        display: grid;
        align-items: center;
        justify-items: center;
        margin-top: -5rem;

        img {
          max-width: 500px;
          width: 100%;
          clip-path: circle(30% at 50% 30%);
        }
      }

      .about-text {
        width: 100%;

        a {
          padding: 1.5rem 2rem;
          border-radius: 3px;
          display: inline-block;
          background-color: $color-primary;
          margin-top: 2rem;
          color: #fff;
          border: 1px solid transparent;

          &:hover,
          &:focus {
            background-color: #fff;
            color: $color-primary;
            border: 1px solid $color-primary
          }
        }
      }

    }

}




// ==== section-portfolio ====
.section-portfolio {
  padding: 10rem 5rem;

  .main-heading {
    text-align: right;
  }

  .portfolio-p {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .project-container {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(25rem, 1fr));
    grid-template-rows: auto;
    grid-gap: 1rem;
    text-align: center;

    .project {
      background-color: #e6e6f8;
      max-width: 450px;
      width: 100%;
      border-radius: 3px;
      padding: 1rem;

      .summary {
        font-size: 1.5rem;

        h2 {
          margin-bottom: 1rem;
        }

        p {
          font-size: 1.4rem;
        }
      }

      figure {
        
      }

      a {
        padding: 1.5rem 2rem;
        background-color: transparent;
        color: $color-primary;
        position: relative;
        z-index: 1;        
        display: inline-block;
        overflow: hidden;
        border-radius: 3px;
        margin-top: 2rem;

        &:hover,
        &:focus{
          color: #fff;
        }

        &:focus::after,
        &:hover::after {
          top: 0;
        }

        &::after {
          content: "";
          display: inline-block;
          width: 100%;
          height: 100%;
          background-color: $color-primary;
          top: 90%;
          left: 0;
          z-index: -1;
          position: absolute;
          transition: .4s;

        }
      }
    }
  }
}


// ======= Section-testimonials ========
.section-testimonial {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(#747272, .6), rgba(#000, .6)), url(images/testimonial-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
   

  .testimonials {
    width: 300%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    .testimony-container {
      // width: 100%;
      height: 400px;
      position: relative;
      width: 33.3%;

      &.t-1 {
        transition: .4s;
      }
    }

    .testimony {
      width: 80%;
      max-width: 600px;
      margin: auto;
      padding: 2rem;
      box-shadow: .5rem 1rem 1rem rgba(#000, .3);
      border-radius: 3px;
      background-color: rgba(#fff, .3);
      margin-bottom: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &:hover > figure img,
      &:focus > figure img{
        filter: blur(1px) brightness(70%);
        height: 100%;
      }

      &:hover > figure figcaption ,
      &:focus > figure figcaption {
        top: 50%
      }

      figure {
        width: 10rem;
        height: 10rem;
        overflow: hidden;
        clip-path: circle(50% at 50% 50%);
        float: left;
        shape-outside: circle(50% at 50% 50%);
        margin-right: 2rem;
        position: relative;


        img {
          height: 130%;
          z-index: -1;
          transition: .4s;
        }

        figcaption {
          color: #fff;
          font-size: 1.5rem;
          text-transform: uppercase;
          position: absolute;
          top: -10%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          transition: .4s;
        }
      }

      .testimonial-text {
        // background-color: red;
        font-size: 1.4rem;
        
      }
    }
  }

  &:hover .slider-btn label{
    opacity: 1;
  }


  // ====slider-btn=====
  // .slider-btn {

  //   .prev,
  //   .next {
  //     background-color: $color-secondary;
  //     width: 4rem;
  //     height: 4rem;
  //     border-radius: 50%;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //   }

  //   .next {
  //     right: 3rem;
  //   }
  //   .prev {
  //     left: 3rem;
  //   }

  //   label {
  //     color: $color-neutral;
  //     position: absolute;
  //     top: 50%;
  //     opacity: 0;
  //     transition: .4s;
  //   }
  // }

  // ==== dots =====
  .dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 10rem;
    transform: translate(-50%, 50%);

      label {
        width: 1rem;
        height: 1rem;
        border: none;
        outline: none;
        display: block;
        border-radius: 50%;
        background-color: #ffffff;
        margin: .4rem;
      }
  }

  #r1:checked ~ .dots > .r1,
  #r2:checked ~ .dots > .r2,
  #r3:checked ~ .dots > .r3 {
    transform: scale(1.5);
    box-shadow: 0rem .3rem .5rem rgba(#fff, .4);
  }

  #r1:checked ~ .testimonials > .testimony-container.t-1 {
    margin-left: 0;
  }
  #r2:checked ~ .testimonials > .testimony-container.t-1 {
    margin-left: -33.3%;
  }
  #r3:checked ~ .testimonials > .testimony-container.t-1 {
    margin-left: -66.6%;
  }

  input[type="radio"] {
    display: none;
    visibility: hidden;
  }
}



// === Section-Cpntact=== 
.section-contact {
  width: 100%;
  // overflow: hidden;

  .main-heading {
    text-align: right;
  }

  .contact-p {
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.5rem;
    text-align: center;
  }

  .contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(105deg, $color-secondary 0%, $color-secondary 50%, rgba(#353132, .8) 50%), url(images/imagee.jpg);
    background-size: cover;
    background-position: top;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;

    .contact-list {
        // background-color: red;
        text-align: center;
        height: 200px;

        .contact-item {
          display: block;
          margin-bottom: .5rem;
          font-size: 1.8rem;

         

            i {
              width: 3rem;
              height: 3rem;
              // display: flex;
              // align-items: center;
              // justify-content: center;
              // background-color: green;
              font-size: 1.5rem;
              display: inline-block;
            }

            div {
              // background-color: orange;
              display: inline-block;
            }
              
          }
      }


      form {
        width: 100%;
        max-width: 500px;
        text-align: center;
        padding: 0 1rem;

        h3 {
          color: $color-neutral;
          margin-bottom: 2rem;
          text-align: center;
        }

        input[type="text"],input[type="email"],
        textarea {
          width: 80%;
          margin: 0 auto;
          max-width: 500px;
          font-family: inherit;
          margin-bottom: 1rem;
          padding: 1rem 2rem;
          background-color: $color-secondary;
          border: none;
          border-radius: 15px;
          font-size: 1.4rem;
          outline: none;
          transition: .4s;
          border: 1px solid #4b4b4b;
          resize: none;
          color: #7a7a7a;

          &:focus, &:valid {
            width: 100%;
            border: 1px solid $color-primary;
          }

        
        }

        input[type="submit"] {
            background-color: $color-primary;
            border: none;
            padding: 1rem 2rem;
            border-radius: 15px;
            border: 1px solid transparent;
            width: 60%;
            transition: .4s;

            &:hover,
            &:focus {
                background-color: transparent;
                color: #000;
                border: 1px solid $color-primary;
                color: $color-primary;
              }
          }

      }
  }

  .social-list {
    display: flex;
    justify-content: center;
    margin: 5rem 0;

    .social-item {

      &:nth-child(1) .social-link::after {
        background-color: #3b5999;
      }
      &:nth-child(2) .social-link::after {
        background-color: #c32aa3;
      }
      &:nth-child(3) .social-link::after {
        background-color: #0077b5;
      }
    }

    .social-link {
        display: flex;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        border: 1px solid $color-secondary;
        color: $color-secondary;
        margin-right: 1rem;
        font-size: 1.4rem;
        outline: none;
        position: relative;
        z-index: 1;
        overflow: hidden;

        &:hover,
        &:focus  {
            color: #fff;
            border: 1px solid #fff;
          }

        &:hover::after,
        &:focus::after {
          top: 0;
        }

        &::after {
          content: "";
          width: 100%;
          height: 100%;
          display: inline-block;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: -1;
          transition: .4s;
          border-radius: 10px;
        }
      }
  }

}


footer {
  width: 100%;
  height: 2rem;
  color: #000000;
  text-align: center;
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: auto;
  font-size: 1.3rem;
}






// ======== section-case ===================
.nav-bar {
  width: 100%;
  height: 60px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.section-case {
  // background-color: red;
  text-align: center;
  width: 100%;

  .case-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
    border-radius: 5px;
    width: 100%;

    img {
      width: 100%;
    }
  }

  div {
    margin: 2rem 0;
    
    h3 {
      font-weight: 600;
      font-size: 1.3rem;
      color: #929191;
    }

    h2 {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  a {
    font-size: 1.2rem;
    color: #000;
    border: 1px solid #000;
    padding: 2rem;
    margin-top: 3rem;
    display: inline-block;
  }
}
@import "responsive";