<!-- ============== SECTION CONTACT ============= -->
<section class="section-footer" id="section-footer">
    <div class="container wrapper">
        <h2 class="heading-secondary text-center">Send a message</h2>
        <div class="footer-container">
            <form action="/form-success" class="contact-form" name="contact" method="POST" data-netlify="true">
                <input type="text" name="Full Name" id="fname" placeholder="Full Name" required class="input-field">
                <input type="email" name="Email Address" id="email" placeholder="Email Address" required class="input-field">
                <input type="text" name="Telephone" id="tel" placeholder="Telephone" required class="input-field">
                <textarea name="message" id="message" cols="30" rows="10" placeholder="Message" required class="input-field"></textarea>
                <input type="submit" value="Send Message &longrightarrow;" >
            </form>
    
            <div class="contact-right">
                <ul class="contact-details">
                    <li>
                        <i class="fa fa-phone"></i>
                        <span>+233 241 105 423</span>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i>
                        <span><a href="mailto:carbellsarfo@gmail.com" title="Send me an Email">Carbellsarfo@gmail.com</a></span>
                    </li>
                    <li>
                        <i class="fa fa-map-marker-alt"></i>
                        <span>GB 180, Gbetsile</span>
                    </li>
                </ul>
                <ul class="nav-social">
                    <li>
                        <a href="https://www.instagram.com/carbelldidit/" target="_blank" class="social-link" title="check me out on Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://web.facebook.com/profile.php?id=100079153059971" target="_blank" class="social-link" title="Let's be freinds on Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/carbell-sarfo/" target="_blank" class="social-link" title="Let's connect on Linked In">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Carbell-sarfo" target="_blank" class="social-link" title="Github">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Carbelldidit" target="_blank" class="social-link" title="Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                </ul>
                <ul class="policy">
                    <li>
                        <a href="/privacy-policy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="/terms-of-service">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</section>
<footer>
    <p>&copy; {% year %} Carbell Kofi Sarfo.</p>
</footer>