
<!-- nav-button and overlay -->
<div class="nav-overlay"></div>

    
<!-- Back to the top switch -->
<a href="#hero" class="to-top">
    <i class="fa-solid fa-chevron-up"></i>    
</a>

<!-- =============== Navigation ================ -->
<nav class="nav-bar">
    <div class="container wrapper">
        <div class="nav-container">      
            <div class="nav-btn">
                <div class="lines"></div>
                <div class="lines"></div>
                <div class="lines"></div>
            </div>
            <div class="nav-left">
                <!-- SOCIAL MEDIA LINKS  -->
                <ul class="left-social">
                    <li>
                        <a href="https://www.linkedin.com/in/carbell-sarfo/">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/carbelldidit">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://web.facebook.com/profile.php?id=100079153059971">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Carbell-sarfo">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                </ul>
                <!-- Day and Night Switch -->
                <!-- <div class="switch-box">
                    <input type="checkbox" name="switch" id="switch" />
                    <label for="switch" class="label-left"></label>
                    <label for="switch" class="label"></label>
                </div> -->
                <label>
                    <input class='toggle-input' type='checkbox' id="switch"></input>
                    <div class='toggle-slot'>
                      <div class='sun-icon-wrapper'>
                        <div class="iconify sun-icon" data-icon="feather-sun" data-inline="false"></div>
                      </div>
                      <div class='toggle-button'></div>
                      <div class='moon-icon-wrapper'>
                        <div class="iconify moon-icon" data-icon="feather-moon" data-inline="false"></div>
                      </div>
                    </div>
                  </label>
                  
            </div>
            <!-- LOGO -->
            <a href="/" class="logo">
                <img src="/assets/images/logo-light.png" alt="Carbell Sarfo logo" class="logo-img">
            </a>
            <ul class="nav-list">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/portfolio" class="nav-link" id="portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.youtube.com/channel/UCdC_rW9x4MnQvubSJOg4ihQ/" target="_blank" class="nav-link">Youtube</a>
                </li>
                <li class="nav-item">
                    <a href="/blog" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="#section-footer" class="nav-link">Contact</a>
                </li>
            </ul>
            <div class="cart">
                <!-- <i class="fa-solid fa-basket-shopping"></i> -->
            </div>
        </div>
    </div>
</nav>