node_modules

# build artifacts
# public

# secrets and errors
.env
.log

# macOS related files
.DS_Store


#  "start": "npm-run-all build:sass --parallel watch:*",
#  "build": "npm-run-all build:sass build:eleventy"