.main-heading {
  display: inline-block;
  font-size: 6rem;
  font-weight: 900;
  margin-bottom: 3rem;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--clr-primary)), to(var(--clr-secondary)));
  background-image: linear-gradient(to right, var(--clr-primary), var(--clr-secondary));
  background-clip: text;
  -webkit-background-clip: text;
}

.secondary-text {
  color: var(--clr-secondary);
}

.hop {
  -webkit-transform: translateY(-4px) scale(0.8);
          transform: translateY(-4px) scale(0.8);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn-main {
  display: inline-block;
  color: #fff;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  border: 2px solid rgba(255, 255, 255, 0.404);
  z-index: 1;
  background-color: var(--clr-secondary);
  border-radius: 2px;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.btn-main:focus, .btn-main:hover {
  color: #fff;
  border: 2px solid #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.btn-main:active {
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.btn-secondary {
  display: inline-block;
  color: #fff;
  background-color: var(--clr-primary);
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  border: 2px solid rgba(255, 255, 255, 0.582);
  z-index: 1;
  border-radius: 2px;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: var(--clr-primary);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.3);
  z-index: 2;
  border: 2px solid #fff;
}

.btn-secondary:active {
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scroll-me {
  0% {
  }
  50% {
    top: 70%;
  }
  100% {
    top: 10%;
  }
}

@keyframes scroll-me {
  0% {
  }
  50% {
    top: 70%;
  }
  100% {
    top: 10%;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --clr-primary: #0072c6;
  --clr-secondary: #ea4c89;
  --clr-neutral: #D8EBF4;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body {
  max-width: initial;
  min-height: 100vh;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #444a51;
  display: -ms-grid;
  display: grid;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
}

p {
  font-size: 1.9rem;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.logo {
  font-weight: 600;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.nav-scrolled {
  --clr-primary: #0072c6;
  --clr-secondary: #fff;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

nav {
  --clr-primary: #D8EBF4;
  --clr-secondary: #0072c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--clr-secondary);
  opacity: 1;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

nav .logo {
  color: var(--primary);
}

nav .nav-btn {
  cursor: pointer;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
  z-index: 10;
  position: fixed;
  right: 3rem;
  top: 2rem;
}

nav .nav-btn:hover .lines,
nav .nav-btn:focus .lines {
  background-color: var(--clr-primary);
}

nav .nav-btn .lines {
  width: 3.5rem;
  height: .2rem;
  margin-bottom: .7rem;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
  background-color: var(--clr-neutral);
}

nav .nav-btn .lines:not(:last-child) {
  margin-bottom: .7rem;
}

nav .nav-btn.close {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

nav .nav-btn.close .lines {
  background-color: var(--clr-primary);
}

nav .nav-btn.close .lines:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(6px, 6px);
          transform: rotate(45deg) translate(6px, 6px);
}

nav .nav-btn.close .lines:nth-child(2) {
  opacity: 0;
}

nav .nav-btn.close .lines:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -5px);
          transform: rotate(-45deg) translate(7px, -5px);
}

.section-home {
  width: 100%;
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--clr-primary);
  position: relative;
  overflow: hidden;
  grid-column: 1/-1;
}

.section-home .home-text {
  z-index: 2;
}

.section-home .home-text h1 {
  font-size: 5rem;
}

.section-home .home-text span {
  font-size: 5.5rem;
  color: #fff;
  display: inline-block;
  padding-left: .5rem;
  letter-spacing: 2px;
  font-style: italic;
}

.section-home .home-text p {
  margin-bottom: 3rem;
  color: #fff;
}

.section-home .btn-main {
  margin-right: .5rem;
}

.section-home .home-profile {
  width: 100%;
  max-width: 400px;
  z-index: 2;
}

.section-home .scroll {
  display: inline-block;
  width: 1.5rem;
  height: 3rem;
  border: 1px solid #fff;
  border-radius: 3rem;
  position: absolute;
  bottom: 10px;
  z-index: 2;
  left: 49%;
}

.section-home .scroll::after {
  content: "";
  width: 3px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  -webkit-animation: scroll-me 1.5s ease infinite;
          animation: scroll-me 1.5s ease infinite;
}

.section-home .watermark {
  display: inline-block;
  color: var(--clr-primary);
  font-size: 25rem;
  position: absolute;
  top: 10%;
  left: 10%;
  text-shadow: 1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.section-about {
  padding-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.section-about .about-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.section-about .about-content .about-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  text-align: center;
}

.section-about .about-content .about-image img {
  display: inline-block;
  max-width: 500px;
  width: 100%;
  -webkit-clip-path: circle(30% at 50% 30%);
          clip-path: circle(30% at 50% 30%);
}

.section-about .about-content .about-text {
  width: 100%;
}

.section-about .about-content .about-text a {
  margin: 4rem 0;
}

.section-about .about-content .about-text h2 {
  font-size: 3.2rem;
}

.section-portfolio {
  padding-top: 10rem;
  padding-bottom: 10rem;
  position: relative;
}

.section-portfolio .main-heading {
  z-index: 0;
  right: 0;
  top: -2rem;
}

.section-portfolio .portfolio-p {
  text-align: center;
  margin-bottom: 2rem;
}

.section-portfolio .project-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[autofit];
      grid-template-columns: repeat(autofit, minmax(25rem, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1rem;
  text-align: center;
}

.section-portfolio .project-container .project {
  background-color: #e6e6f8;
  max-width: 450px;
  width: 100%;
  border-radius: 3px;
  padding: 1rem;
}

.section-portfolio .project-container .project .summary h2 {
  margin-bottom: 1rem;
}

.section-portfolio .project-container .project a {
  padding: 1.5rem 2rem;
  background-color: transparent;
  color: var(--clr-primary);
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  border-radius: 3px;
  margin-top: 2rem;
}

.section-portfolio .project-container .project a:hover, .section-portfolio .project-container .project a:focus {
  color: #fff;
}

.section-portfolio .project-container .project a:focus::after, .section-portfolio .project-container .project a:hover::after {
  top: 0;
}

.section-portfolio .project-container .project a::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary);
  top: 90%;
  left: 0;
  z-index: -1;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
}

.section-contact {
  width: 100%;
  padding-top: 15rem;
  position: relative;
}

.section-contact .contact-p {
  margin-bottom: 2rem;
  padding: 0 5rem;
}

.section-contact p {
  text-align: center;
}

.section-contact .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(65%, #fff), color-stop(65%, rgba(0, 114, 198, 0.8))), url(images/imagee.jpg);
  background-image: linear-gradient(0deg, #fff 0%, #fff 65%, rgba(0, 114, 198, 0.8) 65%), url(images/imagee.jpg);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: top;
  max-width: 1000px;
  padding: 2rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.section-contact .contact-container .contact-list {
  text-align: center;
  -webkit-box-flex: 40;
      -ms-flex: 40;
          flex: 40;
}

.section-contact .contact-container .contact-list .contact-item {
  display: block;
  margin-bottom: .5rem;
  font-size: 1.8rem;
  color: #e9e9e9;
}

.section-contact .contact-container .contact-list .contact-item i {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  display: inline-block;
}

.section-contact .contact-container .contact-list .contact-item div {
  display: inline-block;
}

.section-contact .contact-container form {
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 0 1rem;
  padding-top: 5rem;
  margin: 0 auto;
  -webkit-box-flex: 60;
      -ms-flex: 60;
          flex: 60;
}

.section-contact .contact-container form h3 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
}

.section-contact .contact-container form input[type="text"], .section-contact .contact-container form input[type="email"],
.section-contact .contact-container form textarea {
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
  font-family: inherit;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 15px;
  font-size: 1.4rem;
  outline: none;
  -webkit-transition: .4s;
  transition: .4s;
  resize: none;
  color: #000;
}

.section-contact .contact-container form input[type="text"]:focus, .section-contact .contact-container form input[type="text"]:valid, .section-contact .contact-container form input[type="email"]:focus, .section-contact .contact-container form input[type="email"]:valid,
.section-contact .contact-container form textarea:focus,
.section-contact .contact-container form textarea:valid {
  width: 100%;
  border: 1px solid var(--clr-secondary);
}

.section-contact .contact-container form input[type="submit"] {
  background-color: var(--clr-secondary);
  -webkit-box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1);
  border: none;
  padding: 1rem 2rem;
  border-radius: 15px;
  border: 1px solid transparent;
  width: 60%;
  -webkit-transition: .4s;
  transition: .4s;
  color: #fff;
}

.section-contact .contact-container form input[type="submit"]:hover, .section-contact .contact-container form input[type="submit"]:focus {
  background-color: transparent;
  color: var(--clr-secondary);
  border: 1px solid var(--clr-secondary);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.section-contact .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem 0;
}

.section-contact .social-list .social-item {
  display: inline-block;
}

.section-contact .social-list .social-item:nth-child(1) .social-link {
  background-color: #e20000;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(221, 68, 68, 0.7), 0 0.3rem 0.3rem rgba(0, 0, 0, 0.7);
          box-shadow: inset 0px 0px 0px 3px rgba(221, 68, 68, 0.7), 0 0.3rem 0.3rem rgba(0, 0, 0, 0.7);
}

.section-contact .social-list .social-item:nth-child(1) .social-link:hover, .section-contact .social-list .social-item:nth-child(1) .social-link:focus {
  color: #e20000;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.section-contact .social-list .social-item:nth-child(2) .social-link {
  background-color: #c32aa3;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(199, 77, 172, 0.7), 0 0.3rem 0.3rem rgba(0, 0, 0, 0.7);
          box-shadow: inset 0px 0px 0px 3px rgba(199, 77, 172, 0.7), 0 0.3rem 0.3rem rgba(0, 0, 0, 0.7);
}

.section-contact .social-list .social-item:nth-child(2) .social-link:hover, .section-contact .social-list .social-item:nth-child(2) .social-link:focus {
  color: #c32aa3;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.section-contact .social-list .social-item:nth-child(3) .social-link {
  background-color: #0077b5;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(37, 128, 177, 0.7), 0 0.3rem 0.3rem rgba(0, 0, 0, 0.7);
          box-shadow: inset 0px 0px 0px 3px rgba(37, 128, 177, 0.7), 0 0.3rem 0.3rem rgba(0, 0, 0, 0.7);
}

.section-contact .social-list .social-item:nth-child(3) .social-link:hover, .section-contact .social-list .social-item:nth-child(3) .social-link:focus {
  color: #0077b5;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.section-contact .social-list .social-item:nth-child(4) .social-link {
  background-color: #3b5999;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(88, 111, 160, 0.7), 0 0.3rem 0.3rem rgba(0, 0, 0, 0.7);
          box-shadow: inset 0px 0px 0px 3px rgba(88, 111, 160, 0.7), 0 0.3rem 0.3rem rgba(0, 0, 0, 0.7);
}

.section-contact .social-list .social-item:nth-child(4) .social-link:hover, .section-contact .social-list .social-item:nth-child(4) .social-link:focus {
  color: #3b5999;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.section-contact .social-list .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  font-size: 2rem;
  outline: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

.section-contact .social-list .social-link:hover::after, .section-contact .social-list .social-link:focus::after {
  top: 0;
}

.section-contact .social-list .social-link::after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 10px;
  background-color: #fff;
}

footer {
  width: 100%;
  height: 2rem;
  text-align: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

footer p {
  font-size: 1.7rem;
}

.nav-bar {
  width: 100%;
  height: 60px;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-case {
  width: 100%;
}

.section-case .case-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e9e9e9;
  border-radius: 5px;
  width: 100%;
}

.section-case .case-container img {
  width: 100%;
}

.section-case div {
  margin: 2rem 0;
}

.section-case div h3 {
  font-weight: 600;
  font-size: 1.3rem;
  color: #929191;
}

.section-case div h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

.section-case a {
  font-size: 1.2rem;
  color: #000;
  border: 1px solid #000;
  padding: 2rem;
  margin-top: 3rem;
  display: inline-block;
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 70%;
  }
  .section-contact .contact-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(55%, #fff), color-stop(55%, rgba(0, 114, 198, 0.8))), url(images/imagee.jpg);
    background-image: linear-gradient(90deg, #fff 0%, #fff 55%, rgba(0, 114, 198, 0.8) 55%), url(images/imagee.jpg);
  }
}

@media screen and (min-width: 769px) {
  body {
    font-size: 2rem;
  }
  .container {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  nav {
    background-color: var(--clr-secondary);
  }
  nav .nav-btn {
    display: none;
  }
  nav .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .nav-list .nav-item .nav-link {
    padding: 1rem 2rem;
    color: var(--clr-primary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .3s;
    transition: .3s;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  nav .nav-list .nav-item .nav-link:hover::after {
    left: 48%;
  }
  nav .nav-list .nav-item .nav-link::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--clr-primary);
    position: absolute;
    z-index: -1;
    bottom: 1px;
    left: -20px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .section-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 10rem;
    height: 95vh;
  }
  .section-home .home-text {
    text-align: left;
  }
  .section-home .home-text .btn-1 {
    margin-right: 1rem;
  }
  .section-about .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .section-about .about-content .about-text p {
    display: inline-block;
  }
  .section-about .about-content .about-image {
    margin-top: 10rem;
  }
  .section-portfolio {
    font-size: 1.5rem;
  }
  .section-case .case-container .img-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-case .case-container .img-content img {
    width: 50%;
  }
  .section-contact .contact-container .contact-list {
    text-align: center;
  }
  .section-contact .contact-container .contact-list .contact-item {
    display: block;
  }
}

@media screen and (min-width: 543px) and (max-width: 768px) {
  .main-heading {
    font-size: 15rem;
    font-weight: 900;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
  }
  nav .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: var(--clr-secondary);
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    z-index: 8;
  }
  nav .nav-list.show {
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
  }
  nav .nav-list .nav-item {
    text-align: center;
  }
  nav .nav-list .nav-link {
    display: inline-block;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 4rem;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(105deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 215%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
    margin-bottom: .3rem;
    border-radius: 3px;
  }
  nav .nav-list .nav-link:hover, nav .nav-list .nav-link.current {
    background-position: 100%;
    color: #000;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .section-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-home .btn-1 {
    margin-right: 1rem;
  }
  .section-about {
    padding-top: 25rem;
  }
  .section-about .about-content .about-image {
    height: 400px;
  }
  .section-contact {
    padding-top: 20rem;
  }
}

@media screen and (max-width: 542px) {
  body {
    text-align: left;
  }
  .main-heading {
    font-size: 7rem;
    font-weight: 900;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
  }
  nav .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: -webkit-gradient(linear, left top, right bottom, from(#02457c), color-stop(#0072c6), to(#ea4c89));
    background: linear-gradient(to right bottom, #02457c, #0072c6, #ea4c89);
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    z-index: 8;
  }
  nav .nav-list.show {
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
  }
  nav .nav-list .nav-item {
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  nav .nav-list .nav-item.show {
    opacity: 1;
  }
  nav .nav-list .nav-item.show:nth-child(1) {
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
  nav .nav-list .nav-item.show:nth-child(2) {
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  nav .nav-list .nav-item.show:nth-child(3) {
    -webkit-transition-delay: .9s;
            transition-delay: .9s;
  }
  nav .nav-list .nav-item.show:nth-child(4) {
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
  }
  nav .nav-list .nav-link {
    display: inline-block;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 4rem;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(105deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 215%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
    margin-bottom: .3rem;
    border-radius: 3px;
  }
  nav .nav-list .nav-link:hover, nav .nav-list .nav-link.current {
    background-position: 100%;
    color: #000;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  .section-home .home-profile {
    display: none;
  }
  .section-home .watermark {
    font-size: 20rem;
    left: -10rem;
  }
}

@media screen and (max-width: 400px) {
  .section-home {
    height: 90vh;
  }
  .section-home .home-text {
    text-align: center;
  }
  .section-home .home-text .btn-1 {
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */