.btn-main {
  display: inline-block;
  color: #000;
  padding: 1.5rem 3rem;
  font-size: 1.4rem;
  background-color: #ffdc40;
  font-weight: 400;
  border: 1px solid #000;
}

.btn-main:hover {
  background-color: transparent;
  border: 1px solid #000;
}

.main-heading {
  font-size: 4.5rem;
  font-weight: 400;
  margin-bottom: 3rem;
  position: relative;
}

.main-heading::after {
  content: '';
  display: block;
  background-color: #ffdc40;
  width: 7rem;
  height: .2rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.yellow-text {
  color: #ffdc40;
}

@-webkit-keyframes clickme {
  0% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
  }
}

@keyframes clickme {
  0% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
  }
  100% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.nav-bar .logo {
  width: 150px;
  margin-top: 1rem;
}

.nav-bar .logo img {
  width: 100%;
}

.nav-bar .nav-btn {
  cursor: pointer;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
  z-index: 10;
}

.nav-bar .nav-btn .lines {
  width: 3.5rem;
  height: .2rem;
  margin-bottom: .7rem;
  -webkit-transition: .4s ease-out;
  transition: .4s ease-out;
  background-color: darkgray;
}

.nav-bar .nav-btn.close {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.nav-bar .nav-btn.close .lines {
  background-color: darkgray;
}

.nav-bar .nav-btn.close .lines:nth-child(1) {
  width: 1rem;
}

.nav-bar .nav-btn.close .lines:nth-child(2) {
  width: 2rem;
}

.nav-bar .nav-btn.close .lines:nth-child(3) {
  width: 3rem;
}

.container {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.section-hero {
  height: calc(100vh - 2rem);
  width: 80%;
  margin: 0 auto;
  text-align: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-hero .hero-text {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.section-hero .hero-text h2 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.3;
  position: relative;
  z-index: 1;
  margin-bottom: 2rem;
  position: relative;
}

.section-hero .hero-text h2::after {
  content: '';
  display: block;
  height: .2rem;
  width: 10rem;
  background-color: #ffdc40;
  opacity: .6;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-hero .hero-text p {
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.section-hero .hero-text .btn-main {
  display: inline-block;
  color: #000;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  background-color: #ffdc40;
  font-weight: 400;
  border-radius: 1.5rem;
  position: relative;
  z-index: 1;
}

.section-hero .hero-text .btn-main:hover::after {
  -webkit-transform: scale(2.5, 1.8);
          transform: scale(2.5, 1.8);
  opacity: 0;
}

.section-hero .hero-text .btn-main::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #ffdc40;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 1.5rem;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}

.section-about {
  text-align: center;
  padding-top: 10rem;
  font-size: 1.6rem;
  -ms-grid-column: 2;
      grid-column-start: 2;
  margin: 0 auto;
}

.section-about .about-container {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2rem;
}

.section-about .about-container .bio-image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.section-about .about-container .bio-image img {
  border-radius: 50%;
  border: 2px solid #ffdc40;
}

.section-about .about-container .bio, .section-about .about-container .job {
  color: #000;
  background-color: #5d5d5d;
  border-radius: 3px;
  padding: 1rem;
  border-bottom: 1px solid #ffdc40;
}

.section-about .about-container .bio h3, .section-about .about-container .job h3 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.section-gallery {
  text-align: center;
  padding: 10rem 5rem 0;
  font-size: 1.6rem;
  -ms-grid-column: 2;
      grid-column-start: 2;
  margin: 0 auto;
}

.section-gallery p {
  margin-bottom: 2rem;
}

.section-gallery .gallery-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 2rem;
}

.section-portfolio {
  -ms-grid-column: 2;
      grid-column-start: 2;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 10rem 5rem 0;
}

.section-contact {
  width: 80%;
  margin: 0 auto;
  padding: 10rem 5rem 0;
  text-align: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.section-contact p {
  font-size: 1.5rem;
}

.section-contact h3 {
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.section-contact .contact-p {
  margin-bottom: 5rem;
}

.section-contact .contact-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

.section-contact .contact-container .contact-list {
  width: 100%;
  margin: auto;
  margin-bottom: 5rem;
}

.section-contact .contact-container .contact-list .contact-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin-bottom: 2rem;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section-contact .contact-container .contact-list .contact-item p {
  word-wrap: break-word;
  color: #ffdc40;
}

.section-contact .contact-container .contact-list .contact-item i {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-contact .contact-container form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1rem;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.section-contact .contact-container form input,
.section-contact .contact-container form textarea {
  width: 100%;
  max-width: 500px;
  font-family: inherit;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  background-color: #dfdfdf;
  border: none;
  border-bottom: 3px solid #000;
  border-radius: 2px;
  font-size: 1.4rem;
  outline: none;
}

.section-contact .contact-container form input:focus,
.section-contact .contact-container form textarea:focus {
  border-bottom: 3px solid #ffdc40;
}

.section-contact .contact-container form input input:valid,
.section-contact .contact-container form textarea input:valid {
  border-bottom: 3px solid #ffdc40;
}

.section-contact .contact-container form input[type="submit"] {
  background-color: #ffdc40;
  border: none;
}

.section-contact .contact-container form input[type="submit"]:hover, .section-contact .contact-container form input[type="submit"]:focus {
  background-color: #ffe573;
  color: #000;
}

.section-contact .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.section-contact .social-list .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffdc40;
  color: #ffdc40;
  margin-right: 1rem;
  font-size: 1.4rem;
  outline: none;
}

.section-contact .social-list .social-link:hover, .section-contact .social-list .social-link:focus {
  color: #fff;
  border: 1px solid #fff;
}

footer {
  background-color: #000;
  width: 100%;
  height: 2rem;
  color: #c2c2c2;
  text-align: center;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

@media screen and (min-width: 789px) {
  body {
    font-size: 2rem;
  }
  .nav-btn {
    display: none;
  }
  nav {
    position: fixed;
    top: 20%;
    left: 0;
    z-index: 8;
    width: 30rem;
    height: calc(100vh - -2rem);
  }
  nav .nav-list {
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
  }
  nav .nav-list .nav-item {
    width: 100%;
    margin-bottom: 1.5rem;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
  }
  nav .nav-list .nav-item:nth-child(1) {
    width: 90%;
  }
  nav .nav-list .nav-item:nth-child(1):hover {
    width: 100%;
  }
  nav .nav-list .nav-item:nth-child(2) {
    width: 85%;
  }
  nav .nav-list .nav-item:nth-child(2):hover {
    width: 100%;
  }
  nav .nav-list .nav-item:nth-child(3) {
    width: 90%;
  }
  nav .nav-list .nav-item:nth-child(3):hover {
    width: 100%;
  }
  nav .nav-list .nav-item:nth-child(4) {
    width: 100%;
  }
  nav .nav-list .nav-item:nth-child(4):hover {
    width: 100%;
  }
  nav .nav-list .nav-link {
    display: inline-block;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
    color: #fff;
    background-image: linear-gradient(105deg, #000 0%, #000 50%, #fff 50%);
    background-size: 220%;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1rem 2rem;
    outline: none;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
  }
  nav .nav-list .nav-link:hover, nav .nav-list .nav-link.current, nav .nav-list .nav-link:focus {
    background-position: 100%;
    color: #000;
  }
  .section-gallery .gallery-container img {
    -webkit-transition: .4s;
    transition: .4s;
    overflow: hidden;
  }
  .section-gallery .gallery-container img:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .section-about .about-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .section-about .about-container .bio {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

@media screen and (max-width: 768px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #000;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    z-index: 8;
  }
  nav.show {
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
  }
  nav .nav-list .nav-item {
    text-align: center;
  }
  nav .nav-list .nav-link {
    display: inline-block;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 4rem;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(105deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 215%;
    -webkit-transition: .4s ease-out;
    transition: .4s ease-out;
    margin-bottom: .3rem;
    border-radius: 3px;
  }
  nav .nav-list .nav-link:hover, nav .nav-list .nav-link.current {
    background-position: 100%;
    color: #000;
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
/*# sourceMappingURL=main.css.map */