.text-center {
  text-align: center;
}

.label-left::before,
.label-left::after {
  transition: 0.4s ease;
}

.switch-box input[type=checkbox],
.switch-box input[type=checkbox]:active {
  position: absolute;
  top: -5000px;
  height: 0;
  width: 0;
  opacity: 0;
  border: none;
  outline: none;
}

.switch-box label {
  display: inline-block;
  position: relative;
  padding: 0px;
  cursor: pointer;
}

.label-left::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  height: 16px;
  width: 16px;
  margin: 4px;
  border-radius: 100%;
  right: 26px;
  bottom: 0px;
  background: #FFB200;
  transform: rotate(-45deg);
}

.label-left::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 24px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.15);
  vertical-align: middle;
  margin: 0 10px;
  border: 2px solid #FFB200;
}

.switch-box input[type=checkbox]:checked + .label-left:before {
  right: 17px;
  box-shadow: 5px 5px 0 0 #eee;
  background: transparent;
}

.switch-box input[type=checkbox]:checked + .label-left:after {
  background: rgba(0, 0, 0, 0.15);
  border: 2px solid white;
}

.switch-box input[type=checkbox] + .label-left {
  color: rgba(250, 250, 250, 0.51);
  font-weight: bold;
}

.switch-box input[type=checkbox]:checked + .label-left {
  color: rgba(149, 149, 149, 0.51);
  font-weight: normal;
}

.switch-box input[type=checkbox]:checked + .label-left + .switch-box-label {
  color: rgba(250, 250, 250, 0.51);
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  --clr-red: #E5202B;
  --clr-white: #fff;
  --clr-black: #0C0C0C;
  --clr-gray-light: #E9EAED;
  --clr-gray-dark-1: #111111;
  --clr-gray-dark-2: #27292A;
  width: 100%;
  overflow-x: scroll;
  height: 100%;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  color: var(--clr-gray-dark-2);
  font-size: 1.6rem;
  transition: 0.4s ease;
}

h1, h2, h3, h4, h5 {
  font-family: "Oswald", sans-serif;
}

a {
  font-family: "Helvetica rounded", sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: inline-block;
}

.night {
  --clr-white: #0C0C0C;
  --clr-black: #fff;
  --clr-gray-light: #111111;
  --clr-gray-dark-1: #27292A;
  --clr-gray-dark-2: #E9EAED;
}

.noscroll {
  overflow-y: hidden;
}

.heading-primary {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  position: relative;
  margin-bottom: 40px;
  text-transform: capitalize;
}
.heading-primary::before, .heading-primary::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 70%;
  position: absolute;
}
.heading-primary::before {
  background-color: var(--clr-red);
  top: 5px;
  left: -14px;
}
.heading-primary::after {
  background-color: var(--clr-gray-dark-2);
  top: 5px;
  left: -9px;
}

.heading-secondary {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 4rem;
}

.heading-tertiary {
  font-size: 18px;
  text-transform: uppercase;
}

.thin-text {
  font-weight: lighter;
  letter-spacing: 2px;
}

@media screen and (max-width: 766px) {
  .heading-secondary {
    font-size: 25px;
    font-weight: bolder;
  }
}
.btn {
  display: inline-block;
  outline: none;
  border: none;
  padding: 1.5rem 3rem;
  font-family: "helvetica rounded", sans-serif;
  font-size: 1.3rem;
  border: 2px solid transparent;
  box-shadow: 5px 5px 0px var(--clr-gray-dark-2), 7px 7px 0px var(--clr-red);
  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn:hover, .btn:focus {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.542);
  transform: translateY(3px);
}
.btn:hover::after, .btn:focus::after {
  top: 0%;
}
.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  transition: 0.4s ease;
}

.btn-red {
  background-color: var(--clr-red);
  color: #fff;
  border: 2px solid var(--clr-red);
}
.btn-red:hover, .btn-red:focus {
  color: var(--clr-red);
  background: #fff;
  border: 2px solid var(--clr-red);
}
.btn-red::after {
  background-color: #fff;
}

.btn-neutral {
  background-color: var(--clr-gray-white);
  color: var(--clr-gray-dark-2);
  border: 2px solid var(--clr-gray-dark-2);
}
.btn-neutral:hover, .btn-neutral:focus {
  color: var(--clr-gray-dark-2);
  background: var(--clr-black);
  border: 2px solid var(--clr-gray-dark-2);
}
.btn-neutral::after {
  background-color: var(--clr-white);
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 2580px;
  height: 100%;
}

.wrapper {
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 768px) {
  .wrapper {
    padding-right: 64px;
    padding-left: 64px;
  }
}
.section-footer {
  padding: 17rem 0 10rem;
  clip-path: polygon(0 0, 50% 10rem, 100% 0, 100% 100%, 0 100%);
  margin-top: -10rem;
  background: var(--clr-white);
}
.section-footer .footer-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  row-gap: 10rem;
  max-width: 920px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}
.section-footer .contact-form {
  width: 90%;
  max-width: 500px;
  text-align: center;
}
.section-footer .contact-form .input-field {
  width: 100%;
  border: none;
  outline: none;
  font-family: inherit;
  border-bottom: 1px solid darkgray;
  resize: none;
  margin-bottom: 2rem;
  padding: 1rem;
  transition: 0.4s ease;
  background: transparent;
}
.section-footer .contact-form .input-field:focus, .section-footer .contact-form .input-field:valid {
  border-bottom: 1px solid var(--clr-red);
}
.section-footer .contact-right {
  width: 400px;
}
.section-footer .contact-details {
  list-style: none;
  padding-right: 20px;
  margin-left: 4rem;
}
.section-footer .contact-details li {
  color: var(--clr-gray-dark-2);
  margin-bottom: 5px;
  line-height: 4;
}
.section-footer .contact-details li i {
  font-size: 1.5rem;
  margin-right: 3rem;
}
.section-footer .contact-details li span {
  font: 300 18px "Poppins", sans-serif;
  letter-spacing: 1.2px;
}
.section-footer .contact-details li span a {
  color: var(--clr-gray-dark-2);
  transition: 0.4s ease;
  font-family: inherit;
}
.section-footer .contact-details li span a:hover, .section-footer .contact-details li span a:focus {
  color: var(--clr-red);
}
.section-footer hr {
  margin: 2rem 0;
}
.section-footer .nav-social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 10rem;
}
.section-footer .nav-social li:not(:last-child) {
  margin-right: 2rem;
}
.section-footer .nav-social a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--clr-gray-dark-2);
  transition: 0.4s ease;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-gray-dark-2);
  font-size: 1.7rem;
}
.section-footer .nav-social a:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.section-footer .nav-social a:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(1px);
}
.section-footer .nav-social a:hover {
  transform: scale(1.1) skew(5deg, 3deg);
  color: var(--clr-red);
  border: 2px solid var(--clr-red);
}
.section-footer .policy {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 5rem;
}
.section-footer .policy li:not(:last-child) {
  margin-right: 5rem;
}
.section-footer .policy a {
  display: inline-block;
  color: var(--clr-gray-dark-2);
  transition: 0.4s ease;
}
.section-footer .policy a:hover, .section-footer .policy a:focus {
  transform: scale(1.1) skew(5deg, 3deg);
  color: var(--clr-red);
}

footer {
  background-color: var(--clr-white);
  text-align: center;
  padding: 5px 0;
}
footer p {
  font-size: 1.3rem;
  color: var(--clr-gray-dark-1);
}

/* Begin Media Queries*/
@media screen and (max-width: 350px) {
  .section-footer {
    clip-path: polygon(0 0, 50% 7rem, 100% 0, 100% 100%, 0 100%);
  }
}
@media screen and (max-width: 850px) {
  .section-footer .footer-container {
    flex-direction: column;
    gap: 5rem;
  }
  .section-footer .contact-form {
    width: 100%;
  }
  .section-footer .contact-details {
    margin-left: 5rem;
  }
}
@media screen and (max-width: 569px) {
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }
}
.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  transition: 0.2s ease;
  opacity: 0;
  pointer-events: none;
  display: block;
  background-color: rgba(0, 0, 0, 0.741);
}
.nav-overlay.show {
  opacity: 1;
  pointer-events: initial;
}

.nav-btn {
  width: 50px;
  height: 40px;
  top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.4s ease;
  z-index: 10;
}
.nav-btn .lines {
  width: 30px;
  height: 3px;
  background-color: var(--clr-black);
  transition: 0.4s ease;
}
.nav-btn .lines:not(:last-child) {
  margin-bottom: 5px;
}
.nav-btn.close .lines:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}
.nav-btn.close .lines:nth-child(2) {
  opacity: 0;
}
.nav-btn.close .lines:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -7px);
}

.cart {
  cursor: pointer;
  font-size: 1.8rem;
}

.nav-bar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--clr-white);
  z-index: 10;
  transition: 0.4s ease;
}
.nav-bar .nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar .nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar .nav-left .left-list {
  list-style: none;
  display: flex;
}
.nav-bar .nav-left .left-list .left-link {
  color: var(--clr-gray-dark-2);
  display: flex;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  border: 2px solid var(--clr-gray-dark-2);
  transition: 0.4s ease;
}
.nav-bar .nav-left .left-list .left-link:focus, .nav-bar .nav-left .left-list .left-link:hover {
  transform: scale(1.1) skew(5deg, 3deg);
  border: 2px solid var(--clr-red);
  color: var(--clr-red);
}
.nav-bar .logo img {
  width: 70px;
}
.nav-bar .nav-list {
  list-style: none;
  display: flex;
}
.nav-bar .nav-list .nav-link {
  display: inline-block;
  color: var(--clr-gray-dark-2);
  padding: 0.5rem;
  transition: 0.4s ease;
  border-bottom: 1px solid transparent;
  font-size: 1.4rem;
}
.nav-bar .nav-list .nav-link:hover, .nav-bar .nav-list .nav-link:focus {
  color: var(--clr-red);
  transform: scale(1.1) skew(5deg, 3deg);
  border-bottom: 1px solid var(--clr-red);
}

@media screen and (min-width: 1020px) {
  .nav-btn {
    display: none;
  }

  .nav-menu {
    display: none;
  }

  .nav-bar .cart {
    display: none;
  }
  .nav-bar .nav-list {
    display: flex;
    flex-direction: row;
  }
  .nav-bar .nav-list .nav-item:not(:last-child) {
    margin-right: 10px;
  }
  .nav-bar .nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav-bar .nav-left .switch-box {
    margin-right: 2rem;
  }
}
@media screen and (max-width: 1019px) {
  .nav-menu {
    width: 260px;
    background-color: var(--clr-white);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    transition: 0.4s ease;
    transform: translate3d(-100%, 0, 0);
  }
  .nav-menu.show {
    transform: translate3d(0, 0, 0);
  }

  .nav-bar .nav-list {
    position: fixed;
    top: 20%;
    left: 80px;
    flex-direction: column;
    text-align: center;
  }
  .nav-bar .nav-list .nav-item {
    pointer-events: none;
    opacity: 0;
    transition: 0.4s ease;
  }
  .nav-bar .nav-list .nav-item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .nav-bar .nav-list .nav-item.show {
    pointer-events: initial;
    opacity: 1;
  }
  .nav-bar .nav-list .nav-item.show:nth-child(1) {
    transition-delay: 0.2s;
  }
  .nav-bar .nav-list .nav-item.show:nth-child(2) {
    transition-delay: 0.4s;
  }
  .nav-bar .nav-list .nav-item.show:nth-child(3) {
    transition-delay: 0.6s;
  }
  .nav-bar .nav-list .nav-item.show:nth-child(4) {
    transition-delay: 0.8s;
  }
  .nav-bar .nav-list .nav-item.show:nth-child(5) {
    transition-delay: 1s;
  }
  .nav-bar .nav-list .nav-item.show:nth-child(6) {
    transition-delay: 1.2s;
  }
  .nav-bar .nav-left {
    position: fixed;
    bottom: 70px;
    left: 60px;
    flex-direction: column;
    transform: translate3d(-150%, 0, 0);
  }
  .nav-bar .nav-left.show {
    transform: translate3d(0%, 0, 0);
    transition: 0.4s ease;
    transition-delay: 0.3s;
  }
  .nav-bar .nav-left .switch-box {
    margin-bottom: 4rem;
  }
}
.section-hero {
  width: 100%;
  height: 100vh;
  background-color: var(--clr-white);
  transition: 0.4s ease;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 50% 95vh, 0 85vh, 0 0);
}
.section-hero .hero-container {
  width: 100%;
  max-width: 600px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.section-hero .hero-container h3 {
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 2px;
}
.section-hero .hero-container h1 {
  font-size: 100px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: bolder;
  font-style: italic;
  text-shadow: 3px 5px 0px var(--clr-red);
  color: var(--clr-black);
  letter-spacing: 3px;
  line-height: 1;
  margin: 5px 0;
}
.section-hero .hero-container p {
  margin-bottom: 30px;
}

.section-about {
  padding: 20rem 0 10rem;
  margin-top: -15rem;
  background: var(--clr-gray-light);
}
.section-about .about-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
.section-about .about-img {
  aspect-ratio: 8/5;
}
.section-portfolio {
  padding: 12rem 0 20rem;
  background-color: var(--clr-gray-light);
  text-align: center;
}
.section-portfolio .portfolio-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem 2rem;
}
.section-portfolio .portfolio {
  width: 100%;
}
.section-portfolio .portfolio__name {
  display: block;
  margin: 2rem 0 0.2rem;
  color: var(--clr-gray-dark-2);
  text-transform: uppercase;
  font-size: 2.5rem;
}
.section-portfolio .portfolio__detail {
  display: block;
  font-weight: lighter;
  color: darkgray;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.section-info {
  padding: 10rem 0;
  margin-top: -5rem;
  background: url(/assets/images/info-bg.jpg);
  background-size: cover;
  background-position: bottom;
}
.section-info .info-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10rem 3rem;
  align-items: center;
  justify-items: center;
}
.section-info .info {
  text-align: center;
  color: #fff;
}
.section-info .info__icon {
  display: block;
  font-size: 3rem;
}
.section-info .info__number {
  display: block;
  font-size: 5rem;
  font-weight: bold;
  margin: 2rem 0 1rem;
}
.section-info .info__detail {
  display: block;
}

.section-testimonials {
  padding: 15rem 0 10rem;
  background: var(--clr-gray-light);
}
.section-testimonials .testimonials-container {
  position: relative;
  padding: 0rem 50px 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1100px;
}
.section-testimonials .testimonial {
  background: var(--clr-white);
  width: 100%;
  text-align: center;
  border-radius: 20px;
  transition: 0.4s ease;
  padding: 5rem 1rem;
  margin-left: auto;
  margin-right: auto;
}
.section-testimonials .testimonial__img {
  width: 200px;
  height: auto;
  margin: 3rem auto 1rem;
}

.section-youtube {
  padding: 15rem 0;
  background-color: var(--clr-gray-light);
}
.section-youtube .youtube-container {
  display: grid;
  margin-bottom: 5rem;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  align-items: center;
  justify-items: center;
}
.section-youtube .youtube-container iframe {
  cursor: pointer;
}
.section-youtube .youtube-container .yt-video {
  width: 100%;
  height: auto;
  aspect-ratio: 1.8;
  transition: 0.4s ease;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.section-youtube .youtube-container .yt-video:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.section-youtube .youtube-container .yt-video:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(1px);
}
.section-youtube .youtube-container .yt-video:hover, .section-youtube .youtube-container .yt-video:focus {
  transform: scale(1.05) translateY(-5px);
}

.section-blog {
  padding: 10rem 0;
  background: var(--clr-gray-light);
}
.section-blog .blog-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 10rem;
}
.section-blog .article {
  width: 100%;
  text-align: center;
  transition: 0.4s ease;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: var(--clr-white);
  overflow: hidden;
}
.section-blog .article:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.section-blog .article:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(1px);
}
.section-blog .article__img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/0.7;
}
.section-blog .article__date {
  font-weight: lighter;
  color: darkgray;
  font-size: 1.5rem;
  margin: 1rem 2rem;
}
.section-blog .article__description {
  margin: 1rem;
  line-height: 1;
}
.section-blog .article__text {
  margin: 0 1rem 4rem;
}
.section-blog .article .btn {
  margin-bottom: 3rem;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li::before {
  content: "";
  top: 1px;
  transition: 0.4s ease;
  width: 8px;
  height: 8px;
  background: darkgray;
  position: absolute;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.slick-dots li::before:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.slick-dots li::before:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(1px);
}
.slick-dots li.slick-active::before {
  top: 0;
  width: 12px;
  height: 12px;
  margin-left: -2px;
  background: var(--clr-red);
}
.slick-dots li button {
  display: none;
}

.slick-arrow {
  background: var(--clr-white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.slick-arrow .fa-solid {
  font-size: 30px;
  color: var(--clr-gray-dark-2);
  transition: 0.4s ease;
}
.slick-arrow .fa-solid:hover, .slick-arrow .fa-solid:focus {
  color: var(--clr-red);
}

.prev-arrow {
  left: 0;
}

.next-arrow {
  right: 0;
}

@media screen and (min-width: 769px) {
  .section-hero .hero-container h1 {
    font-size: 180px;
    letter-spacing: 10px;
    margin-bottom: 2rem;
  }
  .section-hero .hero-container p {
    margin-right: 7rem;
  }
  .section-hero .hero-container .btn-red {
    margin-right: 2rem;
  }

  .section-about .about-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1023px) {
  .section-portfolio .portfolio-container {
    grid-template-columns: 1fr 1fr;
  }

  .section-info {
    padding: 12rem 0;
  }
  .section-info .info-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .section-youtube .youtube-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-blog .blog-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 325px) {
  .section-hero {
    padding-top: 5rem;
    clip-path: polygon(0 0, 100% 0, 100% 95vh, 50% 100vh, 0 95vh, 0 0);
  }
  .section-hero .hero-container h1 {
    font-size: 85px;
    letter-spacing: 5px;
    margin-bottom: 2rem;
  }
  .section-hero .hero-container .btn {
    margin-bottom: 1rem;
  }

  .section-blog {
    padding-bottom: 15rem;
  }
}
@media screen and (max-width: 500px) {
  .section-hero .hero-container h1 {
    font-size: 75px;
    letter-spacing: 5px;
    margin-bottom: 2rem;
  }

  .section-testimonials .testimonials-container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .section-hero {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 50% 95vh, 0 85vh, 0 0);
  }
  .section-hero .btn-red {
    margin-right: 1rem;
  }
}
#privacy {
  background: var(--clr-gray-light);
  padding: 10em 0;
  font-size: 1.6rem;
  line-height: 1.7;
}
#privacy ul, #privacy ol {
  margin-bottom: 2rem;
}
#privacy ul li, #privacy ol li {
  margin-bottom: 1rem;
}
#privacy a {
  color: var(--clr-red);
  cursor: pointer;
  transition: 0.4s ease;
}
#privacy a:hover, #privacy a:focus {
  color: #990000;
}
