// == Section-hero ==
.section-hero {
    width: 100%;
    // height: 100%;
    // min-height: 100vh;
    background-color: var(--clr-white);
    @include ease(.4s);
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 50% 95vh, 0 85vh, 0 0);
    // overflow: hidden;

    &#hero {
        padding-top: 0;
    }

    .hero-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 2rem;
        align-items: center;
        justify-items: center;

        .hero-image {
            position: relative;
            z-index: 2;
            margin-top: 10px;
           
        }
        .hero-text {
            margin-top: 100px;
        }

        h3 {
            display: inline-block;
            font-weight: 400;
            font-size: 1.8rem;
            letter-spacing: 2px;
            font-family: 'poppins', sans-serif;
            background: var(--clr-primary);
            color: #fff;
            padding: 1rem 2rem;
            position: relative;

            &::before {
                content: "";
                width: 10px;
                height: 10px;
                background: var(--clr-primary);
                position: absolute;
                left: 50%;
                bottom: -5px;
                transform: translate(-50%, 0) rotate(45deg);
            }
        }
        .hero-name {
            display: block;
            font-size: 70px;
            text-transform: uppercase;
            font-family: 'Oswald', sans-serif;
            font-weight: bolder;
            text-shadow: 3px 5px 0px var(--clr-primary);
            color: var(--clr-black);
            letter-spacing: 3px;
            line-height: 1;
            margin: 5px 0;
            margin-top: 1rem;
            // padding-inline: 10px;
            animation: slidedown 4s infinite;
            -webkit-animation: slidedown 4s infinite;
            -moz-animation: slidedown 4s infinite;
        }
        .hero-image {
            // padding-top: 60px;
        }
        p {
            margin-bottom: 30px;
        }

    }

    
}


// ======= SECTION ABOUT =======
.section-about {
    padding: 10rem 0 8rem;
    background: var(--clr-gray-light);

    .about-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        text-align: justify;
    }
    
}


// ============== SECTION PORTFOLIO ==============
.section-portfolio {
    padding: 10rem 0 8rem;
    background-color: var(--clr-gray-light);
    text-align: center;

    .portfolio-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem 2rem;
        margin-bottom: 4rem;
    }

}
.portfolio {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    transition: .4s ease;

    &:hover, &:focus {
        transform: scale(.97);
    }

    h3 {
        color: var(--clr-black);
        font-size: 2rem;
        letter-spacing: 1px;
    }
  }
        


// ================ SECTION-INFO =============
.section-info {
    padding: 5rem 0 10rem;
    background: url(/assets/images/info-bg.jpg);
    background-size: cover;
    background-position: bottom;

    .info-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 10rem 3rem;
        align-items: center;
        justify-items: center;
    }

    .info {
        width: 100%;
        height: 100%;
        text-align: center;
        color: #fff;
        background: rgba(0, 0, 0, 0.829);
        padding: 2rem;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.364);
        @include ease(.3s);

        &:hover, &:focus {
            transform: translateY(-3px);
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.164);
        }

        &__icon {
            display: flex;
            font-size: 1.6rem;
            margin-bottom: 2rem;
            width: 60px;
            height: 60px;
            border-radius: 40%;
            border: 2px solid #fff;
            align-items: center;
            justify-content: center;
        }
        &__number {
            display: block;
            font-size: 5rem;
            font-weight: bold;
            margin: 2rem 0 1rem;
            text-shadow: 1px 1px 0px #000;
        }
        &__detail {
            display: block;
            text-shadow: 1px 1px 0px #000;
        }
    }
}

// ============= SECTION TESTIMONIAL ===============
.section-testimonials {
    padding: 15rem 0 4rem;
    background: var(--clr-gray-light);

    .testimonials-container {
        position: relative;
        padding: 0rem 50px 5rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        width: 100%;

        // overflow-x: auto;
        // overscroll-behavior-inline: contain;
    }

        /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    .hide {
        // display: none;
    }
    .prev, .next {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 40%;
        background-color: transparent;
        border: 2px solid var(--clr-gray-dark-1);
        display: flex;
        align-items: center;
        justify-content: center;
        @include ease(.3s);
        position: absolute;
        top: 40%;

        &:hover, &:focus {
            background-color: var(--clr-primary);
            color: #fff;
        }
    }
    .prev {
        left: 0;
    }
    .next {
        right: 0;
    }

    // dashes at the bottom
    .dot {
        cursor: pointer;
        height: 12px;
        width: 12px;
        background-color: var(--clr-gray-dark-2);
        border-radius: 50%;
        display: inline-block;
        @include ease(.4s);

        &:not(:last-child) {
            margin-right: .5rem;
        }
    }
    .active, .dot:hover, .dot:focus {
        background-color: var(--clr-primary);
    }

    .testimonial {
        background: var(--clr-white);
        width: 100%;
        text-align: center;
        border-radius: 10px;
        @include ease(.4s);
        padding: 2.5rem 2rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.329);
        margin-left: auto;
        margin-right: auto;
        @include ease(.3s);
        border-bottom: 2px solid var(--clr-primary);
        // position: relative;
        // z-index: 1;
        display: none;

        &:hover {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.129);
            transform: translateY(-3px);
        }


        &__text {
            text-align: center;
        }

        &__img {
            width: auto;
            height: 100px;
            margin: 0rem auto;
            margin-top: -50px; 
            border: 1px solid var(--clr-primary);
            border-radius: 50%;
        }

        &__name {
            text-align: center;
            margin-bottom: 3rem;
        }
    }
}

// ============= SECTION Freebies ===============
.index-freebies {
    padding: 15rem 0;
}



// ============== SECTION YOUTUBE ==============
.section-youtube {
    padding: 7em 0;
    background-color: var(--clr-gray-light);

    .youtube-container {
        display: grid;
        margin-bottom: 5rem;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        align-items: center;
        justify-items: center;

        iframe {
            cursor: pointer;
        }

        .yt-video {
            width: 100%;
            height: auto;
            aspect-ratio: 1.8;
            @include ease(.4s);
            @include shadow;
            cursor: pointer;

            &:hover, &:focus {
                transform: scale(1.05) translateY(-5px);
            }
        }
    }
  
}




// ================ Blog ==================
.section-blog {
    padding: 7rem 0;
    background: var(--clr-gray-light);

    
}


















  ///////////////////////////////////////////////
  //             MEDIA QUERIES
  /////////////////////////////////////////////////

@media screen and (min-width: 769px) {

    .section-hero {
        height: 100vh;
        overflow: hidden;

        .hero-container {

            .hero-text {
                padding-bottom: 5rem
            }

            .hero-name {
                font-size: 80px;
                letter-spacing: 10px;
                margin-bottom: 2rem;
            }
            p {
                // margin-right: 7rem;
            }
            .btn-primary {
                margin-right: 2rem;
            }
        }
    }

    .section-about {

        .about-text-1 {
            grid-area: aboutText-1;
        }
        .about-text-2 {
            grid-area: aboutText-2;
        }
        .about-text-3 {
            grid-area: aboutText-3;
        }
        .about-image {
            grid-area: aboutImage;
        }
        .about-container {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
                "aboutText-1 aboutImage"
                "aboutText-2 aboutImage"
                "aboutText-3 aboutImage"
            ;
        }
    }
    .section-testimonials {

        .testimonial {
            max-width: 1000px;
        }
    }
}
@media screen and (min-width: 1023px) {

    .section-hero {

        .hero-container {

            .hero-name {
                font-size: 100px;
                letter-spacing: 10px;
                margin-bottom: 2rem;
            
            }
           
        }
    }

    .section-portfolio {

        .portfolio-container {
            grid-template-columns: 1fr 1fr;
        }
    }

    .section-info {
        padding: 12rem 0;

        .info-container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
    
    .section-testimonials {

        .testimonial {
            padding-inline: 5rem;
        }
    }

    .section-youtube {
        .youtube-container {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .section-blog {

        .blog-container {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}



@media screen and (max-width: 768px) {
    
    .section-hero {
        clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 95%, 0 85%, 0 0);
        overflow: visible;

        .hero-container {
            grid-template-columns: 1fr;
            text-align: center;

            .hero-image {
                // display: none;
            }
        }
        
        .btn-primary {
            margin-right: 1rem;
        }
    }

    /// Section Testimonial
    .section-testimonials {

        .prev, .next {
            // opacity: 0;
            top: 95%;
        }
    }
}

@media screen and (max-width: 500px) {

    .section-hero {

        .hero-container {

            .hero-name {
                font-size: 65px;
                letter-spacing: 5px;
                margin-bottom: 2rem;
            }
            
        }
    }
    .section-about {
        text-align: center;
    }

    .section-testimonials {

        .testimonials-container {
            padding-left: 0;
            padding-right: 0;

        }
        .testimonial {
            padding-top: 0rem;
        }
    }
 
}

@media screen and (max-width: 325px) {
 
    .section-hero {
        padding-top: 5rem;
        clip-path: polygon(0 0, 100% 0, 100% 95vh, 50% 100vh, 0 95vh, 0 0);

        .hero-container {

            .hero-name {
                font-size: 60px;
                letter-spacing: 5px;
                margin-bottom: 2rem;
            }
            .btn {
                margin-bottom: 1rem;
            }
        }
    }
    .section-blog {
        padding-bottom: 15rem;
    }
}