
.portfolio-page {
    padding-top: 15rem;
}


.portfolio-page__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}



.photography {
    margin: 15rem 0 5rem 0;
}
.photography-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    .photo {
        // @include ease(.3s);
        display: inline-block;
        position: relative;
        background: red;
        line-height: 0;
        border-radius: 1rem;
        overflow: hidden;

        &:hover .photo-btn,
         &:focus .photo-btn {
            background-color: #fff;
            color: var(--clr-primary);
        }
    }

    .photo-img {
        display: block;

        img {
            object-fit: cover;
        }
    }
    .photo-btn {
        display: inline-block;
        line-height: 1.5;
        margin: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        padding: 1.5rem 3rem;
        border: 1px solid #fff;
        transition: .4s ease;
    }
}




// //////////////////////////////////
//       MEDIA QUERIES
// /////////////////////////////////


@media screen and (min-width: 769px) {

    .photography-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 769px) {

    .portfolio-page__container {
        grid-template-columns: 1fr 1fr;
    }

    .photography-container {
        // grid-template-columns: 1fr 1fr 1fr;
    }
}