:root {
	/* color  */

	--clr-red: #e5202b;
	--clr-white: #fff;
	--clr-black: #0c0c0c;
	--clr-gray-light: #e9eaed;
	--clr-gray-dark-1: #5e5e5e;
	--clr-gray-dark-2: #111;

	/* colores de las propiedades */
	--surface: #4F4360;
	--surface-variant: #e0d8e7;
	--surface-dim: #998da9;
	--surface-bridge: #d6cdee;

	--on-surface-primary: var(--clr-red);
	--on-primary: var(--clr-gray-light);

	--secndary: var(--secondary-70);
	--on-surface-secondary: var(--secondary-95);
	--on-secondary: var(--secondary-95);

	/* texto  */
	--text-small: 1.2rem;
	--text-medium: 1.4rem;
	--text-large: 1.6rem;
	--text-x-large: 2rem;
	--text-xx-large: 3.1rem;
	--text-xxx-large: 4.4rem;
	--text-title: 2rem;
	--text-general: 1.6rem;
	--text-button: 1.2rem;
	--font-poppins: 'poppins', sans-serif;
	--max-width: 108rem;
	--site-bg: var(--clr-red-0);

	/* This is the gradient happening in the home page */
	--hero-bg: linear-gradient(
		-54deg,
		var(--clr-red) -23%,
		var(--clr-gray-dark-2),
		transparent 51%
	);

	/* This is the graident hapening on the various text */
	--text-gradient: radial-gradient(
		circle farthest-corner at center center,
		var(--clr-red) 0%,
		var(--clr-white) 100%
	);
}
*,
*::before,
*::after{
	box-sizing: border-box;
}
html {
	font-family: var(--font-poppins) !important;
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: "poppins", sans-serif;
	font-size: 1.3rem;
	width: 100%;
	background: var(--clr-gray-dark-2) no-repeat;
	color: var(--clr-white);
	line-height: 2;
	font-weight: 400;
	position: relative;
	z-index: 1;
}
main {
	align-self: center;
}
p{
	color: var(--clr-red-100);
	font-size: var(--text-general);
}
img {
	width: 100%;
}

.color__gradiente {
	background: var(--text-gradient);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.max__width {
	max-width: 117.8rem;
}


/* // ========== Container ============= */
.container {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 2580px;
    height: 100%;
}
.wrapper {
    padding-right: 20px;
    padding-left: 20px;
}
@media (min-width: 768px) {
    .wrapper {
        padding-right: 150px;
        padding-left: 150px;
    }

}





