.header {
	display: flex;
	width: 100%;
	padding: 2rem;
	justify-content: center;
	align-items: center;
	color: var(--on-primary);
	position: fixed;
	z-index: 3;
}

.header .header__container {
	display: flex;
	width: 100%;
	max-width: var(--max-width);
	justify-content: space-between;
	align-items: center;
	background: #00000033;
	backdrop-filter: blur(20px);
	padding: 1rem 2rem;
	border-radius: 14px;
	height: auto;
	min-height: 7rem;
	border: 0.03px solid #ffd3d347;
	flex-wrap: wrap;
}


.header .profile .header__title {
	font-size: var(--text-title);
	font-weight: 600;
	cursor: pointer;
}

.header .nav-list {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 2rem;
	margin-right: 4.4rem;
}

.header .links {
	display: flex;
	gap: 22px;
	font-size: var(--text-general);
}

.header .links a {
	position: relative;
}

.header .links a::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 100%;
	transform: scaleX(0);
	transform-origin: 0;
	height: 2px;
	background: var(--clr-red);
	transition: 0.35s transform;
}

.header .links a:hover {
	color: var(--clr-red-90);
}

.header .links a:hover::after {
	transform: scale(1);
}
.icons {
	display: none;
}



.nav-btn {
	display: none;
}
.nav-overlay {
	display: none;
}





@media screen and (max-width: 768px) {
	
	/* ============= This is the navigation button =============== */
	.nav-btn {
		display: flex;
		padding: 1.2rem 1rem;
		border-radius: 1rem;
		flex-direction: column;
		transition: 0.35s opacity;
		border: 1px solid rgba(255, 181, 181, 0.578);
		pointer-events: all;
		cursor: pointer;
		/* animation: linear scroll-btn; */
		/* animation-timeline: scroll(); */

	}
	.nav-btn .lines{
		width: 3rem;
		height: .3rem;
		background-color: var(--clr-white);
	}
	.nav-btn .lines:not(:last-child) {
		margin-bottom: .5rem;
	}




	.header {
		padding: 1rem;
	}
	.header .links {
		width: 100%;
		color: var(--clr-gray-dark-2);
	}

	.header .nav-list {
		position: fixed;
		top: calc(100% + 2rem);
		left: 0;
		/* margin-right: 0; */
		z-index: 20;
		background: rgba(255, 255, 255, 0.85);
		backdrop-filter: blur(20px);
		justify-content: center;
		align-items: center;
		border-radius: 14px;
		width: 100%;
		padding: 0.8rem 1rem;
		border: 0.03px solid #ffd3d347;
		/* align-self: center; */
		opacity: 1;
		/* pointer-events: none; */
		/* background-color: green */
		transform: translate3d(0, -200px, 0) scale(0);
		opacity: 0;
		transition: .4s;
	}
	.header .nav-list.show {
		transform: translate3d(0, 0, 0) scale(1);
		opacity: 1;
	}


	/* Social Media icons */
	.icon__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: .2s;
	}
	.icons {
		display: block;
	}



	/* ========== Nav-Overlay ============ */
	.nav-overlay {
		background: #0000001b;
		display: block;
		backdrop-filter: blur(10px);
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		opacity: 0;
		transition: .1s;
		pointer-events: none;
	}
	.nav-overlay.show {
		opacity: 1;
		pointer-events: initial;
	}
}

@keyframes scroll-btn {
	0%,
	1% {
		opacity: 0;
	}
	2% {
		opacity: inherit;

	}
}
