.section-footer {
    background: var(--clr-white);
    padding: 8rem 0 10rem;
    width: 100%;

    // overflow: hidden;

    .footer-container {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5rem 1rem;
    }

    .contact-right {

        ul {
            list-style: none;
            width: 100%;
        }
    }

    .contact-details {
        // padding-left: 7rem;
        margin-bottom: 4rem;

        li {
            margin-bottom: 3rem;
            letter-spacing: 2px;
            display: flex;
            align-items: center;
            justify-content: start;
            font-size: 1.4rem;

            a {
                color: var(--clr-gray-dark-2);
                @include ease(.4s);
                font-family: "Poppins", sans-serif;
                font-weight: 400;

                &:hover, &:focus {
                    @include skewUp;
                    color: var(--clr-primary);
                }
            }

            i {
                font-size: 2.5rem;
                margin-right: 1rem;

            }
        }
    }

    .nav-social {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        li {

            // &:nth-child(1) {
            //     &:hover a, &:focus a {
            //         background-color: #c32aa3;
            //         border-color: #c32aa3;

            //     }
            // }
            // &:nth-child(2) {
            //     &:hover a, &:focus a {
            //         background-color: #3b5998;
            //         border-color: #3b5998;
            //     }
            // }
            // &:nth-child(3) {
            //     &:hover a, &:focus a {
            //         background-color: #0e76a8;
            //         border-color: #0e76a8
            //     }
            // }
            // &:nth-child(4) {
            //     &:hover a, &:focus a {
            //         background-color: #333 ;
            //         border-color: #333;
            //     }
            // }
            // &:nth-child(5) {
            //     &:hover a, &:focus a {
            //         background-color: #1da1f2;
            //         border-color: #1da1f2;
            //     }
            // }
        }

        .social-link {
            display: flex;
            width: 60px;
            height: 60px;
            border-radius: 40%;
            background: var(--clr-gray-dark-2);
            align-items: center;
            justify-content: center;
            color: var(--clr-white);
            @include shadow;
            border: 3px solid var(--clr-white);
            margin: 3rem 0;
            @include ease(.4s);

            i {
                font-size: 2rem;
            }

            &:hover, &:focus {
                transform: scale(.9) translateY(2px);
                outline: 4px solid var(--clr-gray-dark-2);
                outline-offset: 4px;
                color: #fff;
            }
        }
    }
    .policy {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 250px;
        margin: 5rem auto 0;

        a {
            display: inline-block;
            color: var(--clr-gray-dark-2);
            @include ease(.4s);

            &:hover, &:focus {
                @include skewUp;
                color: var(--clr-primary);
            }
        }
    }
}



footer {
    background-color: var(--clr-white);
    text-align: center;
    padding: 5px 0;

    p {
        font-size: 1.6rem;
        color: var(--clr-gray-dark-2)
    }
}







/////////////////////////////////////
        // Media Querries
///////////////////////////////////
/* Begin Media Queries*/
@media screen and (min-width: 1020px) {

    .section-footer .footer-container {
        grid-template-columns: 2fr 1fr;
    }

    .section-footer {

        .contact-right {
            padding-top: 8rem;

            .contact-details {
                padding-left: 2rem;
            }
        }
    }
}

@media screen and (max-width: 1019px) {
    .section-footer {
        .contact-right {
            padding-top: 10rem;
        }
    }
}