--- 

title: Works
layout: 'base.njk'
meta: High quality design resources for free. Crafted with love from Carbell Sarfo, ranging from fonts, mockups, graphics, templates &amp; more.

---

<section class="section-freebies" id="hero">
    <div class="container wrapper">
        <h1 class="heading-secondary">Instagram Carousel</h1>
        <div class="col-3">
            {# instagram carousel free #}
            <a href="https://drive.google.com/drive/folders/1zMWjFl5oL4IDluSmELW-rysq-WrBEpfe?usp=sharing" class="freebies">
                <div class="image">
                    <img src="/assets/images/free-instagram-1.jpg" alt="Free Instagram carousel">
                </div>
                <div class="text">
                    <h3>Free Instagram Carousel</h3>
                    <div class="category">
                        <p class="instagram">Instagram Carousel</p>
                        <p>PSD</p>
                    </div>
                </div>
            </a>
            {# blue free instagram carousel #}
            <a href="https://drive.google.com/drive/folders/1mYi6I-4FzZrO1SJRz8iL1sJCeA2ByR1F?usp=sharing" class="freebies">
                <div class="image">
                    <img src="/assets/images/free-instagram-2.jpg" alt="Free Instagram carousel">
                </div>
                <div class="text">
                    <h3>Simple Carousel Template</h3>
                    <div class="category">
                        <p>Instagram Carousel</p>
                        <p>PSD</p>
                    </div>
                </div>
            </a>
            {# Red Free instagram carousel #}
            <a href="https://drive.google.com/drive/folders/126FBcC6GQAnkJYYNGg4XyvHLi8GYAU_x?usp=sharing" class="freebies">
                <div class="image">
                    <img src="/assets/images/free-instagram-3.jpg" alt="Free Instagram carousel">
                </div>
                <div class="text">
                    <h3>Red Instagram Carousel</h3>
                    <div class="category">
                        <p>Instagram Carousel</p>
                        <p>PSD</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>