---
title: Carbell Sarfo
layout: 'base.njk'
---




<!-- =============== LANDING PAGE ============== -->
<section class="section-hero" id="hero">
    <div id="stars-container">
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
    </div>
    <div class="container wrapper">
        <div class="hero-container">
            <h3>hello, I'm</h3>
            <h1>Carbell</h1>
            <p>I am a multi-disciplinary maker with experience in business management and wide range of design desciplines.</p>
            <div>
                <a href="#section-footer" class="btn btn-primary">Get in touch</a>
                <a href="#" class="btn btn-neutral">Download CV</a>
            </div>
        </div>
    </div>
</section>


<!-- =============== ABOUT ME ================== -->
<section class="section-about" id="section-about">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-primary">About Me</h2>
        </div>
        <div class="text-center">
            <h2 class="heading-secondary">this should be a brief bio</h2>
        </div>
        <div class="about-container">
            <div>
                <img src="/assets/images/about-img-2.jpg" alt="Carbell Kofi" class="about-img">
            </div>
            <div  class="about-text-1">
                <h3 class="heading-tertiary">Who am I</h3>
                <p>
                    Hi, I am Carbell Kofi Sarfo.
                    <br>
                    You can call me many things. You can call me a leader, graphics desinger, web developer, music lover or by any market defined function-title. I am multi-disciplinary maker with over 3 years of experience in wide range of design disciplines, management, entrepreneur, front-end developer, music enthusiast, photographer, you name it and you will be shocked I am there.
                </p>
                <br>
                <p>I don't like to define myself by the work I have done. I define myself by the work towards the goals I am headed. Skills can be taught, personality is inherent. I prefer to keep learning, continue challenging myself, and do interesting things that are both aligned and not aligned to my future goals.</p>
            </div>
            <div class="about-text-2">
                <h3 class="heading-tertiary">Where I am at the Moment</h3>
                <p>I am currently in my final year in the University of Professional Studies pursuing a Bachelor of Art in Business Administration. My experiences here have not only thought me but built me in many areas of my life. I have been able to amass lots of soft and hard skills. Knowing about myself, building my public speaking skills, leadership skills..</p>
                <br>

                <h3 class="heading-tertiary">Where I am headed</h3>
                <p>I see a future of IT, a future where innovation is a must, a future where business leaders have to be equipped in many disciplines and knowledge background. And that is the future I am painting.</p>
                <p>In the PDF attachment below, you may learn more about my life, experience, talents, education, and much more.</p>
                <br>
                <a href="#" class="btn btn-primary">Download CV</a>
            </div>
            <div>
                <img src="/assets/images/about-img.jpg" alt="Carbell Kofi" class="about-img">
            </div>
        </div>
    </div>
</section>

<!-- =============== PORTFOLIO ================== -->
<section class="section-portfolio" id="section-portfolio">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-primary">Portfolio</h2>
        </div>
        <div class="text-center">
            <h2 class="heading-secondary">Here are some latest projects from my portfolio</h2>
        </div>
        <div class="portfolio-container">
            <div class="portfolio">
                <a href="https://casabellini.netlify.app/" target="_blank">
                    <img src="/assets/images/portfolio-1.jpg" alt="Cassa Bellini website" class="portfolio__img">
                </a>
                <a href="https://casabellini.netlify.app/" target="_blank" class="portfolio__name">Cassa Bellini</a>
                <span class="portfolio__detail">Business Website</span>
                <a href="https://casabellini.netlify.app/" target="_blank" class="btn btn-neutral">Visit Site</a>
            </div>
            <div class="portfolio">
                <a href="https://bsmart.website/" target="_blank">
                    <img src="/assets/images/portfolio-3.png" alt="Cassa Bellini website" class="portfolio__img">
                </a>
                <a href="https://bsmart.website/" target="_blank" class="portfolio__name">Samuel Botchwey</a>
                <span class="portfolio__detail">Personal Website</span>
                <a href="https://bsmart.website/" target="_blank" class="btn btn-neutral">Visit Site</a>
            </div>
        </div>


    </div>
</section>



<!-- ==================== SECTION-INFO ================== -->
<section class="section-info" id="section-info">
    <div class="container wrapper">
        <div class="info-container">
            <div class="info">
                <i class="fa-solid fa-camera info__icon"></i>              
                <!-- <span class="info__number">30</span> -->
                <span class="info__detail">photography</span>
            </div>
            <div class="info">
                <i class="fa-solid fa-code info__icon"></i>
              <!-- <span class="info__number">10</span> -->
                <span class="info__detail">Web Development</span>
            </div>
            <div class="info">
                <i class="fa-solid fa-pen-ruler info__icon"></i>
                <!-- <span class="info__number">30</span> -->
                <span class="info__detail">Graphic Design</span>
            </div>
            <div class="info">
                <i class="fa-solid fa-bullhorn info__icon"></i> 
                <!-- <span class="info__number">5</span> -->
                <span class="info__detail">Public Speaking</span>
            </div>
        </div>
    </div>
</section>



<!-- =============== SECTION TESTIMONIAL ================= -->
<section class="section-testimonials" id="testimonials">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-primary">testimonials</h2>
        </div>
        <div class="text-center">
            <h2 class="heading-secondary">Here is what some client have to say</h2>
        </div>
        <div class="testimonials-container">
            <div class="testimonial">
                <div class="testimonial__text">"Building a website. I thought to myself, how, where and from whom would I be able to get a simple, elegant website. Well, I worried until I found out a dear friend who gave his all in making this a reality for me. A person open and willing to listen and willing to learn to be able to provide the best for you  are qualities that best suits him. I recommend and always will, the work of a dear friend Sarfo Carbell, to provide you with the best you could only wish for."</div>
                <img src="/assets/images/testimonial-1.png" alt="Sameul Botchwey" class="testimonial__img">
                <h4 class="testimonial__name">Samuel Botchwey</h4>
            </div>
            <div class="testimonial">
                <div class="testimonial__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, dolore incidunt assumenda obcaecati placeat ducimus rem deserunt quae dignissimos accusantium odio quaerat earum quam quo excepturi sint hic iste alias! Inventore soluta reiciendis doloremque animi quis vitae libero aliquid dicta.</div>
                <img src="/assets/images/testimonial-2.png" alt="Sameul Botchwey" class="testimonial__img">
                <h4 class="testimonial__name">Samuel Botchwey</h4>
            </div>
        </div>
    </div>
</section>



<!-- =============== YOUTUBE ================== -->
<section class="section-youtube" id="section-youtube">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-primary">Youtube</h2>
        </div>
        <div class="text-center">
            <h2 class="heading-secondary">Recent videos</h2>
        </div>
        <div class="youtube-container">
            <iframe class="yt-video" src="https://www.youtube.com/embed/wKOPRHqXjCE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <iframe class="yt-video" src="https://www.youtube.com/embed/vggowcya9g8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <iframe class="yt-video" src="https://www.youtube.com/embed/O_IF6bhnzt0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="text-center">
            <a href="https://www.youtube.com/channel/UCdC_rW9x4MnQvubSJOg4ihQ/" class="btn btn-primary">Visit Channel</a>
        </div>
    </div>
</section>



<!-- =============== BLOG =================== -->
<section class="section-blog">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-primary">My thoughts</h2>
        </div>
        <div class="text-center">
            <h2 class="heading-secondary">Here are some of my recent posts</h2>
        </div>
        <div class="blog-container">
            <!-- <div class="article">
                <img src="/assets/images/article-1.jpg" alt="blog-article-1" class="article__img">
                <span class="article__date">March 20, 2020</span>
                <h2 class="article__description">I nearly got run over but maybe i survived.</h2>
                <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam deserunt, rem, eveniet facilis quam vitae inventore exercitationem velit voluptatibus distinctio porro molestiae cumque reiciendis architecto fugit fugiat, soluta sit ipsa? ...</p>
                <a href="#" class="btn btn-neutral">Read More &longrightarrow;</a>
            </div> -->
            {%- for post in collections.featured | reverse -%}
                {% include 'article-snippet.njk' %}
            {%- endfor-%}
        </div>
        <div class="text-center">
            <a href="/blog/" class="btn btn-primary">Recent Articles</a>
        </div>
    </div>
</section>









    <!-- JQuery external file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- External-Slick js -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- slick file -->
    <script src="/js/slick.js"></script>

