---
title: Carbell Sarfo
layout: 'base.njk'
---




<!-- =============== LANDING PAGE ============== -->
<section class="section-hero" id="hero">
    <div id="stars-container">
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
    </div>
    <div class="container wrapper">
        <div class="hero-container">
            <h3>hello, I'm</h3>
            <h1>Carbell</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint at laudantium, perferendis impedit vero provident debitis soluta earum deserunt quisquam, nam veniam distinctio amet delectus? Architecto, nobis? Perferendis, illo recusandae.</p>
            <div>
                <a href="#section-footer" class="btn btn-red">Get in touch</a>
                <a href="#" class="btn btn-neutral">Download CV</a>
            </div>
        </div>
    </div>
</section>


<!-- =============== ABOUT ME ================== -->
<section class="section-about" id="section-about">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-primary">About Me</h2>
        </div>
        <div class="text-center">
            <h2 class="heading-secondary">this should be a brief bio</h2>
        </div>
        <div class="about-container">
            <div>
                <img src="/assets/images/about-image.png" alt="Carbell Kofi" class="about-img">
            </div>
            <div  class="about-text">
                <h3 class="heading-tertiary">Who am I</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis a animi porro earum, et obcaecati accusamus in fugit quia? Quam totam ipsum quas explicabo reprehenderit quos dicta vel, ea accusantium.
                    <br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora repudiandae deserunt neque, obcaecati facilis tempore!
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo animi distinctio, labore perferendis ut optio libero nostrum! Mollitia magnam, obcaecati laboriosam illo delectus fugit unde, fugiat blanditiis, aspernatur deleniti modi?
                </p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis nisi molestias adipisci maiores distinctio fugiat aliquam itaque et ducimus!</p>
            </div>
        </div>
    </div>
</section>

<!-- =============== PORTFOLIO ================== -->
<section class="section-portfolio" id="section-portfolio">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-primary">Portfolio</h2>
        </div>
        <div class="text-center">
            <h2 class="heading-secondary">Here are some latest projects from my portfolio</h2>
        </div>
        <div class="portfolio-container">
            <div class="portfolio">
                <a href="https://casabellini.netlify.app/" target="_blank">
                    <img src="/assets/images/portfolio-1.jpg" alt="Cassa Bellini website" class="portfolio__img">
                </a>
                <a href="https://casabellini.netlify.app/" target="_blank" class="portfolio__name">Cassa Bellini</a>
                <span class="portfolio__detail">Business Website</span>
                <a href="https://casabellini.netlify.app/" target="_blank" class="btn btn-neutral">Visit Site</a>
            </div>
            <div class="portfolio">
                <a href="https://pressfountain.netlify.app/" target="_blank">
                    <img src="/assets/images/portfolio-2.png" alt="Cassa Bellini website" class="portfolio__img">
                </a>
                <a href="https://pressfountain.netlify.app/" target="_blank" class="portfolio__name">Superior Fountain Press</a>
                <span class="portfolio__detail">Business Landing Page</span>
                <a href="https://pressfountain.netlify.app/" target="_blank" class="btn btn-neutral">Visit Site</a>
            </div>
        </div>


    </div>
</section>



<!-- ==================== SECTION-INFO ================== -->
<section class="section-info" id="section-info">
    <div class="container wrapper">
        <div class="info-container">
            <div class="info">
              <i class="fa-solid fa-briefcase info__icon"></i> 
              <span class="info__number">30</span>
                <span class="info__detail">Projects Completed</span>
            </div>
            <div class="info">
              <i class="fa-solid fa-users info__icon"></i>  
              <span class="info__number">10</span>
                <span class="info__detail">Projects Completed</span>
            </div>
            <div class="info">
              <i class="fa-solid fa-heart-pulse info__icon"></i>
              <span class="info__number">30</span>
                <span class="info__detail">Projects Completed</span>
            </div>
            <div class="info">
                <i class="fab fa-linkedin-in info__icon"></i>
                <span class="info__number">5</span>
                <span class="info__detail">Projects Completed</span>
            </div>
        </div>
    </div>
</section>



<!-- =============== SECTION TESTIMONIAL ================= -->
<section class="section-testimonials" id="testimonials">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-primary">testimonials</h2>
        </div>
        <div class="text-center">
            <h2 class="heading-secondary">Here is what some client have to say</h2>
        </div>
        <div class="testimonials-container">
            <div class="testimonial">
                <div class="testimonial__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, dolore incidunt assumenda obcaecati placeat ducimus rem deserunt quae dignissimos accusantium odio quaerat earum quam quo excepturi sint hic iste alias! Inventore soluta reiciendis doloremque animi quis vitae libero aliquid dicta.</div>
                <img src="/assets/images/testimonial-1.png" alt="Sameul Botchwey" class="testimonial__img">
                <h4 class="testimonial__name">Samuel Botchwey</h4>
            </div>
            <div class="testimonial">
                <div class="testimonial__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, dolore incidunt assumenda obcaecati placeat ducimus rem deserunt quae dignissimos accusantium odio quaerat earum quam quo excepturi sint hic iste alias! Inventore soluta reiciendis doloremque animi quis vitae libero aliquid dicta.</div>
                <img src="/assets/images/testimonial-2.png" alt="Sameul Botchwey" class="testimonial__img">
                <h4 class="testimonial__name">Samuel Botchwey</h4>
            </div>
            <div class="testimonial">
                <div class="testimonial__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, dolore incidunt assumenda obcaecati placeat ducimus rem deserunt quae dignissimos accusantium odio quaerat earum quam quo excepturi sint hic iste alias! Inventore soluta reiciendis doloremque animi quis vitae libero aliquid dicta.</div>
                <img src="/assets/images/testimonial-3.png" alt="Sameul Botchwey" class="testimonial__img">
                <h4 class="testimonial__name">Samuel Botchwey</h4>
            </div>
            <div class="testimonial">
                <div class="testimonial__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro, dolore incidunt assumenda obcaecati placeat ducimus rem deserunt quae dignissimos accusantium odio quaerat earum quam quo excepturi sint hic iste alias! Inventore soluta reiciendis doloremque animi quis vitae libero aliquid dicta.</div>
                <img src="/assets/images/testimonial-4.png" alt="Sameul Botchwey" class="testimonial__img">
                <h4 class="testimonial__name">Samuel Botchwey</h4>
            </div>
        </div>
    </div>
</section>



<!-- =============== YOUTUBE ================== -->
<section class="section-youtube" id="section-youtube">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-primary">Youtube</h2>
        </div>
        <div class="text-center">
            <h2 class="heading-secondary">Recent videos</h2>
        </div>
        <div class="youtube-container">
            <iframe class="yt-video" src="https://www.youtube.com/embed/wKOPRHqXjCE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <iframe class="yt-video" src="https://www.youtube.com/embed/vggowcya9g8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <iframe class="yt-video" src="https://www.youtube.com/embed/O_IF6bhnzt0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="text-center">
            <a href="https://www.youtube.com/channel/UCdC_rW9x4MnQvubSJOg4ihQ/" class="btn btn-red">Visit Channel</a>
        </div>
    </div>
</section>



<!-- =============== BLOG =================== -->
<section class="section-blog">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-primary">My thoughts</h2>
        </div>
        <div class="text-center">
            <h2 class="heading-secondary">Here are some of my recent posts</h2>
        </div>
        <div class="blog-container">
            <!-- <div class="article">
                <img src="/assets/images/article-1.jpg" alt="blog-article-1" class="article__img">
                <span class="article__date">March 20, 2020</span>
                <h2 class="article__description">I nearly got run over but maybe i survived.</h2>
                <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam deserunt, rem, eveniet facilis quam vitae inventore exercitationem velit voluptatibus distinctio porro molestiae cumque reiciendis architecto fugit fugiat, soluta sit ipsa? ...</p>
                <a href="#" class="btn btn-neutral">Read More &longrightarrow;</a>
            </div> -->
            {%- for post in collections.featured | reverse -%}
                {% include 'article-snippet.njk' %}
            {%- endfor-%}
        </div>
        <div class="text-center">
            <a href="/blog/" class="btn btn-red">Recent Articles</a>
        </div>
    </div>
</section>









    <!-- JQuery external file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- External-Slick js -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- slick file -->
    <script src="/js/slick.js"></script>

