--- 

title: Works
layout: 'base.njk'

---

<div class="portfolio-page">
    <div class="container wrapper">
        <h2 class="heading-secondary text-center">I have let my work speak for themselves</h2>
        <div class="text-center">
            <h2 class="heading-primary">Web Design And Web Development.</h2>
        </div>

        <div class="portfolio-page__container">
            <a href="/samuel-project/" class="portfolio">
                <img src="/assets/images/portfolio-3.png" alt="Cassa Bellini website" class="portfolio__img">
                <h3>Samuel Botchwey Website</h3>
            </a>
            <a href="https://bsmart.website/" class="portfolio">
                <img src="/assets/images/portfolio-2.png" alt="Cassa Bellini website" class="portfolio__img">
                <h3>Samuel Botchwey Website</h3>
            </a>
        </div>


        <div class="photography">
            <div class="text-center">
                <h2 class="heading-primary">Photography.</h2>
            </div>
            <div class="photography-container">
                <div class="photo">
                    <img src="/assets/images/Richmond-5.png" alt="Richmond Duah">
                </div>
                <div class="photo">
                    <img src="/assets/images/Ruth Ankomah-1.png" alt="Richmond Duah">
                </div>
                <div class="photo">
                    <img src="/assets/images/Ruth Ankomah-4.png" alt="Richmond Duah">
                </div>
                <div class="photo">
                    <img src="/assets/images/sammzy-1.png" alt="Richmond Duah">
                </div>
                <div class="photo">
                    <img src="/assets/images/sammzy-3.png" alt="Richmond Duah">
                </div>
                <div class="photo">
                    <img src="/assets/images/Richard -2.png" alt="Richmond Duah">
                </div>
            </div>
        </div>

    </div>
</div>