--- 

title: Privacy Policy
layout: 'base.njk'

---

<div class="portfolio-page">
    <div class="container wrapper">
        <div class="text-center">
            <h2 class="heading-primary">Web Design And Web Development.</h2>
        </div>

        <div class="portfolio-page__container">
            <div class="portfolio">
                <a href="https://casabellini.netlify.app/" class="portfolio__project">
                    <img src="/assets/images/portfolio-1.jpg" alt="Cassa Bellini website" class="portfolio__img">
                </a>
                <div class="project-overlay"></div>
                <div class="project-details">
                    <h2>Casa Bellini Restaurant</h2> 
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores suscipit earum culpa porro est sed laborum vel numquam aspernatur pariatur.</p>
                    <span>Business Website</span>
                    <a href="#" class="btn btn-neutral">Read More</a>
                </div>
            </div>
            <div class="portfolio">
                <a href="https://casabellini.netlify.app/" class="portfolio__project">
                    <img src="/assets/images/portfolio-1.jpg" alt="Cassa Bellini website" class="portfolio__img">
                </a>
                <div class="project-overlay"></div>
                <div class="project-details">
                    <h2>Casa Bellini Restaurant</h2> 
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores suscipit earum culpa porro est sed laborum vel numquam aspernatur pariatur.</p>
                    <span>Business Website</span>
                    <a href="#" class="btn btn-neutral">Read More</a>
                </div>
            </div>
            <div class="portfolio">
                <a href="https://casabellini.netlify.app/" class="portfolio__project">
                    <img src="/assets/images/portfolio-1.jpg" alt="Cassa Bellini website" class="portfolio__img">
                </a>
                <div class="project-overlay"></div>
                <div class="project-details">
                    <h2>Casa Bellini Restaurant</h2> 
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores suscipit earum culpa porro est sed laborum vel numquam aspernatur pariatur.</p>
                    <span>Business Website</span>
                    <a href="#" class="btn btn-neutral">Read More</a>
                </div>
            </div>
            <div class="portfolio">
                <a href="https://casabellini.netlify.app/" class="portfolio__project">
                    <img src="/assets/images/portfolio-1.jpg" alt="Cassa Bellini website" class="portfolio__img">
                </a>
                <div class="project-overlay"></div>
                <div class="project-details">
                    <h2>Casa Bellini Restaurant</h2> 
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores suscipit earum culpa porro est sed laborum vel numquam aspernatur pariatur.</p>
                    <span>Business Website</span>
                    <a href="#" class="btn btn-neutral">Read More</a>
                </div>
            </div>
        </div>


        <div class="photography">
            <div class="text-center">
                <h2 class="heading-primary">Photography.</h2>
            </div>
            <div class="photography-container">
                <div class="photo">
                    <img src="/assets/images/Richmond-5.png" alt="Richmond Duah">
                </div>
                <div class="photo">
                    <img src="/assets/images/Ruth Ankomah-1.png" alt="Richmond Duah">
                </div>
                <div class="photo">
                    <img src="/assets/images/Ruth Ankomah-4.png" alt="Richmond Duah">
                </div>
                <div class="photo">
                    <img src="/assets/images/sammzy-1.png" alt="Richmond Duah">
                </div>
                <div class="photo">
                    <img src="/assets/images/sammzy-3.png" alt="Richmond Duah">
                </div>
                <div class="photo">
                    <img src="/assets/images/Richard -2.png" alt="Richmond Duah">
                </div>
            </div>
        </div>

    </div>
</div>