--- 

title: Works
layout: 'base.njk'

---

<div class="portfolio-page">
    <div class="container wrapper">
        <h2 class="heading-secondary text-center">I have let my work speak for themselves</h2>
        <div class="text-center">
            <h2 class="heading-primary">Web Design And Web Development.</h2>
        </div>

        <div class="portfolio-page__container">
            <a href="/samuel-project/" class="portfolio">
                <img src="/assets/images/portfolio-3.png" alt="Samuel Botchway's Website" class="portfolio__img">
                <h3>Samuel Botchwey Website</h3>
            </a>
            <a href="https://comfortcradlecare.com/" class="portfolio" target="blank">
                <img src="/assets/images/portfolio-2.jpg" alt="Comfort Cradle Website" class="portfolio__img">
                <h3>Comfort Cradle Care</h3>
            </a>
            <a href="https://swristberg.netlify.app" class="portfolio" target="_blank">
                <img src="/assets/images/sheila-website.jpg" alt="Sheila Wristberg" class="portfolio__img">
                <h3>Sheila Wristberg</h3>
            </a>
        </div>


        <div class="photography">
            <div class="text-center">
                <h2 class="heading-primary">Photography.</h2>
            </div>
            <div class="photography-container">
                 <div class="photo">
                    <a class="photo-img" href="https://carbell.pixieset.com/desandruby/" target="blank">
                        <img src="/assets/images/photo-3.jpg">
                    </a>
                    <a href="https://carbell.pixieset.com/desandruby/" target="blank" class="photo-btn">View Gallery</a>
                </div>
                <div class="photo">
                    <a class="photo-img" href="https://carbell.pixieset.com/mrandmrsadu-gyamfi/" target="blank">
                        <img src="/assets/images/photo-1.jpg">
                    </a>
                    <a href="https://carbell.pixieset.com/mrandmrsadu-gyamfi/" target="blank" class="photo-btn">View Gallery</a>
                </div>
                <div class="photo">
                    <a class="photo-img" href="https://carbell.pixieset.com/caesarandlilian-1/" target="blank">
                        <img src="/assets/images/photo-2.jpg">
                    </a>
                    <a href="https://carbell.pixieset.com/caesarandlilian-1/" target="blank" class="photo-btn">View Gallery</a>
                </div>
                <div class="photo">
                    <a class="photo-img" href="https://carbell.pixieset.com/accraskylines/" target="blank">
                        <img src="/assets/images/photo-4.jpg">
                    </a>
                    <a href="https://carbell.pixieset.com/accraskylines/" target="blank" class="photo-btn">View Gallery</a>
                </div>
               
            </div>
        </div>

    </div>
</div>
