--- 

title: Samuel Botchwey
layout: 'base.njk'

---



<!-- Section-hero -->
<div class="project-hero bsmart">
    <div class="hero-text">
        <h1>Inspire to create,
            <br>
            Become Value
        </h1>
        <p>Client: Samuel Botchwey</p>
    </div>
</div>
<div class="project">
    <div class="container wrapper">




        <!-- What we did and what we do -->
        <div class="project-info">
            <div class="col-2">
                <div>
                    <h2 class="heading-primary">What We Did.</h2>
                    <p>Web Design & Development</p>
                </div>
                <div>
                    <h2 class="heading-primary">Brief</h2>
                    <p>"I want a simple website that spells me and my CV, and has a blog section for me to be able review some books I read" was the request by my client.
                        <br>
                    This website we built give a little preview of Samuel's personality and skills. Provides a simple blog post card and page for the review of some books. It also contains a contact section featuring his social media links a contact form to help get in touch.
                    </p>
                    <a href="https://bsmart.website/" target="_blank" class="btn btn-primary">See this Website</a>
                </div>
            </div>
        </div>




        <!-- image of whole website -->
        <div class="website">
            <h2 class="heading-secondary">Full Website Preview</h2>
            <img src="/assets/images/bsmart.jpg" alt="Samuel's Website">
        </div>


        <!-- Website showcase -->
        <div class="col-2">
            <div>
                <img src="/assets/images/bsmart-mobile.png" alt="Botchwey website showcase">
            </div>
            <div>
                <img src="/assets/images/bsmart-website-8.png" alt="">
            </div>
        </div>


        <!-- Responsive Design -->
        <div class="responsive">
            <h2 class="heading-primary">Responsive Design</h2>

            <div class="col-2">
                <div class="col-2">
                    <img src="/assets/images/bsmart-website-6.png" alt="Mobile Design">
                    <img src="/assets/images/bsmart-website-7.png" alt="Mobile website showcase">
                </div>
                <div>
                    <img src="/assets/images/bsmart-website-3.png" alt="Laptop view">
                </div>
                <div>
                    <img src="/assets/images/bsmart-website-4.png" alt="Destop website view">
                </div>
                <img src="/assets/images/bsmart-website-5.png" alt="">
            </div>
        </div>


        <!--  Results   -->
        <div class="results">
            <h2 class="heading-primary">Responsive Design</h2>

            <div class="col-2">
                <div>
                    <p>
                        <ul>
                            <li>
                                Samuel Botchwey's website ranks first in google search when his name is typed.
                            </li>
                            <li>
                                Samuel has written and published two books reviews and counting.
                            </li>
                            <li>
                                His Brand Identity has increased as traffic from the website lead straight to his social media handles.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>