--- 

title: Works
layout: 'base.njk'
meta: High quality design resources for free. Crafted with love from Carbell Sarfo, ranging from fonts, mockups, graphics, templates &amp; more.

---

<section class="section-freebies" id="hero">
    <div class="container wrapper">
        <h1 class="heading-secondary">Instagram Carousel</h1>
        <div class="col-3">
            {# instagram carousel free #}
            <a href="https://drive.google.com/drive/folders/1zMWjFl5oL4IDluSmELW-rysq-WrBEpfe?usp=sharing" class="freebies">
                <div class="image">
                    <img src="/assets/images/free-instagram-1.jpg" alt="Free Instagram carousel">
                </div>
                <div class="text">
                    <h3>Free Instagram Carousel</h3>
                    <div class="category">
                        <p class="instagram">Instagram Carousel</p>
                        <p>PSD</p>
                    </div>
                </div>
            </a>
            {# blue free instagram carousel #}
            <a href="https://drive.google.com/drive/folders/1mYi6I-4FzZrO1SJRz8iL1sJCeA2ByR1F?usp=sharing" class="freebies">
                <div class="image">
                    <img src="/assets/images/free-instagram-2.jpg" alt="Free Instagram carousel">
                </div>
                <div class="text">
                    <h3>Simple Carousel Template</h3>
                    <div class="category">
                        <p>Instagram Carousel</p>
                        <p>PSD</p>
                    </div>
                </div>
            </a>
            {# Red Free instagram carousel #}
            <a href="https://drive.google.com/drive/folders/126FBcC6GQAnkJYYNGg4XyvHLi8GYAU_x?usp=sharing" class="freebies">
                <div class="image">
                    <img src="/assets/images/free-instagram-3.jpg" alt="Free Instagram carousel">
                </div>
                <div class="text">
                    <h3>Red Instagram Carousel</h3>
                    <div class="category">
                        <p>Instagram Carousel</p>
                        <p>PSD</p>
                    </div>
                </div>
            </a>


            {# Showrunners template-1 #}
            <a href="https://drive.google.com/drive/folders/1nTePzGWSjnTo4XrBZSX2yuvje1LB40N2?usp=sharing" class="freebies" target="_blank">
                <div class="image">
                    <img src="/assets/images/template-1.jpg" alt="Free Instagram carousel">
                </div>
                <div class="text">
                    <h3>Bright Blue Templates</h3>
                    <div class="category">
                        <p>LinkedIn &amp; Instagram Carousel</p>
                        <p>PSD &amp; Canva</p>
                    </div>
                </div>
            </a>
            {# End of template-1 #}


            {# Showrunners template-2 #}
            <a href="https://drive.google.com/drive/folders/1slMdNV3Nlm2cY2Kzbh0DFPgpDwY9W6zV?usp=sharing" class="freebies" target="_blank">
                <div class="image">
                    <img src="/assets/images/template-2.jpg" alt="Free Instagram carousel">
                </div>
                <div class="text">
                    <h3>Just Blue Templates</h3>
                    <div class="category">
                        <p>LinkedIn &amp; Instagram Carousel</p>
                        <p>PSD &amp; Canva</p>
                    </div>
                </div>
            </a>
            {# End of template-2 #}

            {# Showrunners template-3 #}
            <a href="https://drive.google.com/drive/folders/11dDhmgl4cp6DZ-ne9zlrwCrlu7ZyqU1F?usp=sharing" class="freebies" target="_blank">
                <div class="image">
                    <img src="/assets/images/template-3.jpg" alt="Free Instagram carousel">
                </div>
                <div class="text">
                    <h3>Real Men Pink Templates</h3>
                    <div class="category">
                        <p>LinkedIn &amp; Instagram Carousel</p>
                        <p>PSD &amp; Canva</p>
                    </div>
                </div>
            </a>
            {# End of template-3 #}


            {# Showrunners template-4 #}
            <a href="https://new.express.adobe.com/id/urn:aaid:sc:EU:937ddec2-b068-50a7-b256-380e6283f75f?referrer=https%3A%2F%2Fwww.google.com%2F&learn=for-you&category=search" class="freebies" target="_blank">
                <div class="image">
                    <img src="/assets/images/template-4.jpg" alt="Free Instagram carousel">
                </div>
                <div class="text">
                    <h3>Subtle Gradient Templates</h3>
                    <div class="category">
                        <p>LinkedIn Banner</p>
                        <p>Adobe Express</p>
                    </div>
                </div>
            </a>
            {# End of template-4 #}


            {# Showrunners template-5 #}
            <a href="https://new.express.adobe.com/id/urn:aaid:sc:EU:45f11491-7498-520a-9f22-ddd744ee7f0a?referrer=https%3A%2F%2Fwww.google.com%2F&learn=for-you&category=search" class="freebies" target="_blank">
                <div class="image">
                    <img src="/assets/images/template-5.jpg" alt="Free Instagram carousel">
                </div>
                <div class="text">
                    <h3>Subtle Gradient Templates</h3>
                    <div class="category">
                        <p>LinkedIn Banner</p>
                        <p>Adobe Express</p>
                    </div>
                </div>
            </a>
            {# End of template-5 #}


            {# Showrunners template-6 #}
            <a href="https://new.express.adobe.com/id/urn:aaid:sc:EU:72cb7925-49d6-580b-8411-fb6115a73b48?learn=for-you&category=search" class="freebies" target="_blank">
                <div class="image">
                    <img src="/assets/images/template-6.jpg" alt="Free Instagram carousel">
                </div>
                <div class="text">
                    <h3>Subtle Gradient Templates</h3>
                    <div class="category">
                        <p>LinkedIn Banner</p>
                        <p>Adobe Express</p>
                    </div>
                </div>
            </a>
            {# End of template-6 #}


            {# Showrunners template-7 #}
            <a href="https://new.express.adobe.com/id/urn:aaid:sc:EU:6c08364a-1f86-5905-94be-3ea979e777c6?learn=for-you&category=search" target="_blank">
                <div class="image">
                    <img src="/assets/images/template-7.jpg" alt="Free Instagram carousel">
                </div>
                <div class="text">
                    <h3>Subtle Gradient Templates</h3>
                    <div class="category">
                        <p>LinkedIn Banner</p>
                        <p>Adobe Express</p>
                    </div>
                </div>
            </a>
            {# End of template-7 #}



            {# Showrunners template-8 #}
            <a href="https://new.express.adobe.com/id/urn:aaid:sc:EU:a4c26471-adb2-5612-89ce-7accbe19df84?invite=true&promoid=Z2G1FQKR&mv=other" target="_blank">
                <div class="image">
                    <img src="/assets/images/template-8.jpg" alt="Free LinkedIn Banner">
                </div>
                <div class="text">
                    <h3>Subtle Gradient Templates</h3>
                    <div class="category">
                        <p>LinkedIn Banner</p>
                        <p>Adobe Express</p>
                    </div>
                </div>
            </a>
            {# End of template-8 #}

        </div>
    </div>
</section>



<section class="section-freebies">
    <div class="container wrapper">

        <h1 class="heading-secondary">Photoshop Assets</h1>
        <div class="col-3">
            {# Free Retouching Asset #}
            <a href="https://drive.google.com/drive/folders/1SXyvacqaNfgH8_MwhuoR8g0ASAQ778K2?usp=sharing" class="freebies" target="_blank">
                <div class="image">
                    <img src="/assets/images/retouch-asset.jpg" alt="Free Photoshop Frequency Separation Action">
                </div>
                <div class="text">
                    <h3>Red Instagram Carousel</h3>
                    <div class="category">
                        <p>Photoshop Assets</p>
                        <p>atn</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>